@media screen and (min-width: 1076px) {
  .cooperation{
    text-align: center;
    margin: 0 auto;
    background: #f7fafe;
    padding-top: 30px;
    padding-bottom: 30px;

    .cooperationDiv{
      padding-top: 30px;
      padding-bottom: 30px;
      margin: 0 auto;
      width: 1400px;

      a{
        width: 305px;
        display: inline-block;
        padding: 6px;

        img{
          border-radius: 10px;
          box-shadow: 0px 2px 8px 0px rgba(10, 77, 185, 0.04);
        }
      }

      a:hover{
        img{
          box-shadow: 0px 2px 8px 0px rgba(10, 77, 185, 0.2);
        }
      }
    }
  }
}

