@media screen and (min-width: 320px) and (max-width: 767px) {
  .blogDiv {
    position: relative;
    margin-top: 25px;

    .blogHeaderBody{
      margin-bottom: 60px;
    }

    .blogHeader{
      padding-top: 0;
      position: relative;
      background: #f7fafd;
      height: 100px;
      top: -20px;
      margin-bottom: 30px;

      .blogHeaderImg1{
        position: absolute;
        top: 33%;
        left: 34%;
        width: 120px;
      }

      .blogHeaderImg2{
        position: absolute;
        top: 25%;
        left: 30%;
        width: 160px;
      }

      h2 {
        font-family: MicrosoftYaHeiLight;
        font-size: 25px;
        color: #fff;
        position: absolute;
        top: 34%;
        left: 38%;
      }

      p {
        display: none;
      }
    }

    .blogBody{
      padding-bottom: 60px;

      h2{
        text-align: center;
        font-size: 25px;
        color: #353b47;
        font-weight: 600;
      }

      span{
        margin-top: 5px;
        text-align: center;
        display: block;
        margin-bottom: 5px;
        font-size: 14px;
        color: #688499;
      }

      p{
        padding-top: 5px;
        overflow : hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;

        /* autoprefixer: off */
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        /* autoprefixer: on */
      }
    }
  }
}

