@media screen and (min-width: 768px) and (max-width: 1024px) {
  .blogDiv {
    position: relative;
    margin-top: 25px;

    .blogHeaderBody{
      margin-bottom: 60px;
    }

    .blogHeader{
      padding-top: 0;
      position: relative;
      background: #f7fafd;
      height: 298px;
      top: -20px;

      .blogHeaderImg1{
        position: absolute;
        top: 43%;
        left: 43%;
      }

      .blogHeaderImg2{
        position: absolute;
        top: 30%;
        left: 34%;
      }

      h2 {
        font-family: MicrosoftYaHeiLight;
        font-size: 48px;
        color: #ffffff;
        position: absolute;
        top: 44%;
        left: 45%;
      }

      p {
        font-size: 16px;
        color: #fff;
        padding-top: 10px;
        position: absolute;
        left: 50%;
        top: 58%;
      }
    }

    .blogBody{
      padding-top: 50px;

      h2{
        text-align: left;
        font-size: 30px;
        color: #353b47;
        font-weight: 600;
      }

      span{
        margin-top: 5px;
        text-align: left;
        display: block;
        margin-bottom: 5px;
        font-size: 14px;
        color: #688499;
      }

      p{
        overflow : hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;

        /* autoprefixer: off */
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        /* autoprefixer: on */
      }
    }
  }
}

