@media screen and (min-width: 320px) and (max-width: 767px) {
  .navRoot {
    background: #ffffff;
    border-color: #e7e7e7;

    box-shadow:  0px 3px 12px 0px rgba(20, 27, 45, 0.08);
    -webkit-box-shadow:  0px 3px 12px 0px rgba(20, 27, 45, 0.08);
    -moz-box-shadow:  0px 3px 12px 0px rgba(20, 27, 45, 0.08);
  }

  .navHeader{
    img{
      float: left;
      padding-left: 0;
    }

    .navbarImg{
      float: right;
      margin-right: 3px;
      margin-top: 10px;
    }

    .navHeaderUl{
      padding-top: 10px;
      float: right;
      position: relative;
      top: 35px;
      left: 60px;
      height: 249px;

      ul{
        li{
          margin: 13px;
          a{
            color: #000000;
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 10px;
          }
        }
        a:hover{
          border-bottom: 1px solid #000000;
          text-decoration: none;
        }
      }
    }

    .navGit{
      float: left;
      color: #000000;
      line-height: 26px;
      position: absolute;
      top: 20px;
      left: 136px;
      p{
        color: #000000;
        float: right;
        padding-left: 20px;
        padding-top: 23px;
      }
      a{
        color: #000000;
        text-decoration: none;
        cursor: pointer;
        padding: 5px;
      }
      img{
        padding-top: 0;
        margin: 0;
      }
    }

    .navGit a:hover{
      color: #1f6ce9;
    }
  }
}

