@media screen and (max-width: 320px) {
  .navGitaTit{
    margin-left: 10px;
  }
  .navHeader .navGit{
    right: 60px!important;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .navRoot {
    background: #ffffff;
    border-color: #e7e7e7;

    box-shadow:  0px 3px 12px 0px rgba(20, 27, 45, 0.08);
    -webkit-box-shadow:  0px 3px 12px 0px rgba(20, 27, 45, 0.08);
    -moz-box-shadow:  0px 3px 12px 0px rgba(20, 27, 45, 0.08);
  }

  .navHeader{
    img{
      float: left;
      padding-left: 0;
      margin-top: 15px;
      margin-bottom: 10px;
    }
    .navJoin{
      color: #333;
      padding-top: 25px;
      display: inline-block;
      text-decoration: none;
      font-weight: 600;
      position: relative;
      left: 15px;
    }
    .navbarImg{
      float: right;
      margin-right: 3px;
      margin-top: 20px;
    }

    .navHeaderUl{
      padding-top: 10px;
      position: absolute;
      top: 60px;
      left: 0;
      background: #fff;
      width: 100%;
      z-index: 9;
      opacity: .95;

      ul{
        text-align: center;
        li{
          margin: 13px;
          a{
            color: #000000;
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 10px;
          }
        }
        a:hover{
          border-bottom: 1px solid #000000;
          text-decoration: none;
        }
      }
    }

    .navGit{
      float: left;
      color: #000000;
      line-height: 26px;
      position: absolute;
      top: 20px;
      right: 60px;
      p{
        color: #000000;
        float: right;
        padding-left: 20px;
        padding-top: 23px;
      }
      a{
        color: #000000;
        text-decoration: none;
        cursor: pointer;
        padding: 3px;
      }
      img{
        padding-top: 0;
        margin: 0;
      }
    }

    .navGit a:hover{
      color: #1f6ce9;
    }
  }
}

