@media screen and (min-width: 1025px) {
  .navRoot{
    background: #ffffff;
    border-color: #e7e7e7;
    box-shadow: 0px 3px 12px 0px rgba(20, 27, 45, 0.08);;
    -webkit-box-shadow: 0px 3px 12px 0px rgba(20, 27, 45, 0.08);;
    -moz-box-shadow: 0px 3px 12px 0px rgba(20, 27, 45, 0.08);;

    .navHeader{
      img{
        float: left;
        padding-right: 10px;
      }

      .navbarImg{
        display: none;
      }

      .navHeaderUl{
        padding-top: 20px;
        float: left;
        padding-left: 60px;

        ul{
          li{
            float: left;
            padding-left: 10px;
            margin-left: 20px;
            a{
              color: #688499;
              padding-left: 10px;
              padding-right: 10px;
              padding-bottom: 10px;
            }
          }
          a:hover{
            border-bottom: 1px solid #296de9;
            text-decoration: none;
          }
        }

        .navDropdown{
          position: relative;
          display: inline-block;

          .navDropdown-content {
            display: none;
            position: absolute;
            min-width: 120px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            padding: 12px 16px;
            text-align: center;
            letter-spacing: 3px;
            left: -30px;
            z-index: 999;
            a{
              display: block;
            }
          }
        }

        .navDropdown:hover .navDropdown-content {
          display: block;
        }
      }
    }

    .navGit{
      float: right;
      color: #000000;
      padding-top: 20px;
      line-height: 26px;
      p{
        color: #000000;
        float: right;
        padding-left: 20px;
        padding-top: 23px;
      }
      a{
        color: #000000;
        text-decoration: none;
        cursor: pointer;
        padding: 5px;
      }
      img{
        padding-top: 0;
        float: left;
        margin: 0;
      }
    }

    .navGit a:hover{
      color: #1f6ce9;
    }
  }
}
