@import '../../../../theme/variables';

@import './style/pc';
@import './style/pro';
@import './style/mobile';

@font-face {
  /* font-properties */
  font-family: BebasNeue;
  src: url('../../../../../static/image/BEBAS___.ttf');
}