body{
  background: #F8FAFD;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
  margin: 0;
}
p{
    margin: 0;
}
.comBtn:hover{
  color: #fff;
  text-decoration: none;
}
@media screen and (min-width: 1025px) {
  .homeDiv {
    position: relative;
  .homeHeader{
    width: 1300px;
    img{
      float: left;
      padding-right: 10px;
      margin-top: 15px;
    }
    .navbarImg{
      display: none;
    }

    .homeHeaderUl{
      padding-top: 20px;
      float: left;
      padding-left: 60px;

      ul{
        li{
          float: left;
          padding-left: 10px;
          margin-left: 20px;
          a{
            color: #fff;
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 10px;
          }
        }
        a:hover{
          border-bottom: 2px solid #ffffff;
          text-decoration: none;
        }
      }

      .homeDropdown{
        position: relative;
        display: inline-block;

        .homeDropdown-content {
          display: none;
          position: absolute;
          min-width: 140px;
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          padding: 12px 16px;
          text-align: center;
          //letter-spacing: 3px;
          left: -44px;
          a{
            display: block;

          }
        }
      }

      .homeDropdown:hover .homeDropdown-content {
        display: block;
      }
    }

  }
  }
  .titUpper{
    font-size: 31px;
  }
  .titUpper3{
    font-size: 28px;
  }
.productBox{
  width: 100%;
  height: 801px;
  color: #fff;

  .WanLabsBox{
    width: 1300px;
    margin: 0 auto;
    .WanLabsBanner{
      width: 510px;
      margin-top: 176px;
      margin-left: 20px;
      h1{
        font-size: 34px;
      }
      .bannerLine{
        margin: 32px 0;
        display: inline-block;
        span{
          width: 20px;
          height: 3px;
          display: inline-block;
          float: left;
        }
        .greenLine{
          background: #2AB3AB;
          margin-right: 4px;
        }
        .blueLine{
          background: #368AF6;
        }
      }
      .textp{
        clear: both;
        font-size: 16px;
        color: #fff;
        opacity: .6;
      }
      .textp2{
        clear: both;
        font-size: 14px;
        color: #fff;
        font-weight: bold;
        margin: 37px 0 32px;
      }
    }
  }
}
.videoBox{
  width: 100%;
  height: 620px;
  .videoShow{
    height: 322px;
    margin-bottom: 30px;
  }
  .videoShow{
    width: 700px;
    height: 393px;
    margin: 0 auto;
    text-align: center;
    .video{
      width: 100%;
    }
  }
  .downBtn{
    text-align: center;
    margin-top: 40px;
    a{
      img{
        width: 20px;
        height: 18px;
        margin-right: 10px;
      }
      span{
        color: #fff;
        font-size: 16px;
        vertical-align: middle;
      }
    }
  }
}
.serverWeBox{
  .serverCont{
    width: 1141px;
    margin: 0 auto;
    height: 990px;
    .serverBox:nth-child(3){
      margin-right: 0;
    }
    .serverBox:nth-child(6){
      margin-right: 0;
    }
    .serverBox{
        width: 360px;
        height: 480px;
        background: #fff;
        border-radius: 5px;
        float: left;
        margin: 0 29px 30px 0;
        text-align: center;
        .serverdl{
          padding-bottom: 25px;
            img{
              width: 110px;
              height: 110px;
            }
          p{
            color: #5A5B6B;
            font-size: 20px;
            font-weight: bold;
            padding-bottom: 0;
            margin: 0;
          }
       }
       .serverPText{
         color: #5A5B6B;
         font-size: 12px;
         text-align: left;
         width: 220px;
         margin: 40px 0 0 85px;
       }
       .serverUl{
         margin: 0 0 0 60px;
         padding-top: 25px;
         position: relative;
         .linBg{
           width: 317px;
           height: 40px;
           position: absolute;
           top: 0;
           left: 0;
         }
         li{
           color: #5A5B6B;
           font-size: 14px;
           margin-bottom:10px;
           display: inline-block;
           text-align: left;
           clear: both;
           .comCircle{
             width:4px;
             height:4px;
             margin-top: 10px;
             margin-right: 15px;
             vertical-align: middle;
             background: #2AB3AB;
             display: inline-block;
             float: left;
           }
           span{
             width: 230px;
             display: inline-block;
             float: left;
           }
         }
       }
    }
  }
}
.applyBtn{
  text-align: center;
  margin: 30px auto;
}
.projects{
  width: 100%;
  height: 440px;
  margin-top: 50px;
  .projectsCont{
    text-align: center;
    .projectsLogoUl{
      width: 1141px;
      margin: 66px auto 0;
      li:nth-child(4){
        margin-right: 0;
      }
      li{
        float: left;
        margin-right: 30px;
        img{
          width: 262px;
        }
      }
    }
    p{
      clear: both;
      .prjctIco{
        width: 35px;
        padding-top: 75px;
      }
    }
    .projectsCText{
      color: #fff;
      font-size:18px;
      margin-top: 32px;
    }
  }
}
.interestedBox{
  width: 100%;
  height: 440px;
  text-align: center;
  p{
    font-size: 16px;
    color:  #6C798B;
    width: 910px;
    margin: 0 auto 86px auto;
  }
}
.whiteTit{
  width: 100%;
  text-align: center;
  padding-top: 50px;
  h1{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
  }
}
.comTit2{
  width: 100%;
  text-align: center;
  padding-top: 80px;
  h1{
    color: #2B363D;
    font-size: 30px;
    font-weight: bold;
  }
}
.comTit{
  width: 100%;
  text-align: center;
  padding-top: 50px;
  h1{
    color: #2B363D;
    font-size: 30px;
    font-weight: bold;
  }
}
.bannerLine{
  margin: 30px 0;
  display: inline-block;
  span{
    width: 20px;
    height: 3px;
    display: inline-block;
    float: left;
  }
  .greenLine{
    background: #2AB3AB;
    margin-right: 4px;
  }
  .blueLine{
    background: #368AF6;
  }
}

.comBtn{
  min-width: 145px;
  height: 45px;
  line-height: 45px;
  padding: 0 10px;
  display: inline-block;
  text-align: center;
  border-radius: 25px;
  color: #fff;
  font-weight: bold;
  border: none;
  font-size: 14px;
  background-image: linear-gradient(to right, #00d2ff, #1a90fc);
  box-shadow: 0px 6px 24px 0px rgba(25, 145, 252, 0.4);
}
}
