@media screen and (min-width: 768px) and (max-width: 1024px) {
.homeDiv {
  height: 60px;
  position: relative;
}

.homeHeader{
  img{
    float: left;
    padding-left: 0;
    margin-top: 15px;
  }

  .navbarImg{
    float: right;
    margin-right: 3px;
    margin-top: 20px;
  }

  .homeHeaderUl{
    padding-top: 10px;
    position: absolute;
    top: 60px;
    left: 0;
    background: #fff;
    width: 100%;
    z-index: 9;
    ul{
      text-align: center;
      li{
        margin: 13px;
        a{
          color: #000;
          padding-left: 10px;
          padding-right: 10px;
          padding-bottom: 10px;
        }
      }
      a:hover{
        border-bottom: 1px solid #ffffff;
        text-decoration: none;
      }
    }
  }

  .homeGit{
    float: left;
    color: #fff;
    line-height: 26px;
    position: absolute;
    top: 20px;
    right: 80px;
    p{
      color: #fff;
      float: right;
      padding-left: 20px;
      padding-top: 23px;
    }
    a{
      color: #fff;
      text-decoration: none;
      cursor: pointer;
      padding: 5px;
    }
    img{
      padding-top: 0;
      margin: 0;
    }
  }
  .navJoin{
    color: #fff;
    padding-top: 22px;
    padding-bottom: 10px;
    display: inline-block;
    text-decoration: none;
    margin-left: 25px;
    float: right;
    margin-right: 156px;
    font-weight: 600;
  }
  .homeGit a:hover{
    color: #1f6ce9;
  }
}
.productBox{
  width: 100%;
  height: 801px;
  color: #fff;

  .WanLabsBox{
    width: 95%;
    margin: 0 0 0 5%;
    .WanLabsBanner{
      width: 100%;
      margin-top: 130px;
      h1{
        font-size: 30px;
      }
      .bannerLine{
        margin: 32px 0;
        display: inline-block;
        span{
          width: 20px;
          height: 3px;
          display: inline-block;
          float: left;
        }
        .greenLine{
          background: #2AB3AB;
          margin-right: 4px;
        }
        .blueLine{
          background: #368AF6;
        }
      }
      .textp{
        clear: both;
        font-size: 16px;
        color: #fff;
        opacity: .6;
      }
      .textp2{
        clear: both;
        font-size: 14px;
        color: #fff;
        font-weight: bold;
        margin: 37px 0 32px;
      }
    }
  }
}
.videoBox{
  width: 100%;
  height: 620px;
  .videoShow{
    margin-bottom: 30px;
  }
  .videoShow{
    text-align: center;
    .video{
      width: 94%;
    }
  }
  .downBtn{
    text-align: center;
    a{
      img{
        width: 20px;
        height: 18px;
        margin-right: 10px;
      }
      span{
        color: #fff;
        font-size: 14px;
        vertical-align: middle;
      }
    }
  }
}
.serverWeBox{
  display: inline-block;
  .serverCont{
    width: 100%;
    display: inline-block;
    .serverBox{
        width: 46%;
        height: 480px;
        background: #fff;
        border-radius: 5px;
        float: left;
        margin: 0 2% 30px 2%;
        text-align: center;
        .serverdl{
          padding-bottom: 25px;
            img{
              width: 110px;
              height: 110px;
            }
          p{
            color: #5A5B6B;
            font-size: 20px;
            font-weight: bold;
            padding-bottom: 0;
            margin: 0;
          }
       }
       .serverPText{
         color: #5A5B6B;
         font-size: 12px;
         width: 220px;
         margin: 40px 0 0 65px;
         text-align: left;
       }
       .serverUl{
         margin: 0 0 0 20px;
         padding-top: 15px;
         position: relative;
         .linBg{
           width: 100%;
           height: 40px;
           position: absolute;
           top: 0;
           left: 0;
         }
         li{
           color: #5A5B6B;
           font-size: 14px;
           margin-bottom:10px;
           display: inline-block;
           text-align: left;
           clear: both;
           .comCircle{
             width:4px;
             height:4px;
             margin-top: 10px;
             margin-right: 15px;
             vertical-align: middle;
             background: #2AB3AB;
             display: inline-block;
             float: left;
           }
           span{
             width: 230px;
             display: inline-block;
             float: left;
           }
         }
       }
    }
  }
}
.applyBtn{
  text-align: center;
  margin: 30px auto;
}
.projects{
  width: 100%;
  height: 540px;
  margin-top: 50px;
  .projectsCont{
    text-align: center;
    .projectsLogoUl{
      width: 100%;
      li:hover{
        background-image: linear-gradient(to right, #00d2ff, #1a90fc);
      }
      li{
        width: 40%;
        margin: 3% 5%;
        float: left;
        display: inline-block;
        line-height: 80px;
        border-radius: 5px;
        background:rgba(255,255,255,.1);
        .prjctLogo1{
          width: 170px;
        }
        .prjctLogo2{
          width: 175px;
        }
        .prjctLogo3{
          width: 179px;
        }
        .prjctLogo4{
          width: 120px;
        }
        .prjctLogo5{
          width: 165px;
        }
        .prjctLogo6{
          width: 165px;
        }
      }
    }
    .prjctLogo{
      width: 1141px;
      margin: 66px auto 75px;
    }
    .prjctIco{
      width: 35px;
    }
    .projectsCText{
      color: #fff;
      font-size:18px;
      margin-top: 32px;
    }
  }
}
.interestedBox{
  width: 100%;
  height: 540px;
  text-align: center;
  p{
    font-size: 12px;
    color:  #6C798B;
    width: 100%;
    margin: 0 auto 86px auto;
  }
}
.whiteTit{
  width: 100%;
  text-align: center;
  padding-top: 50px;
  h1{
    color: #fff;
    font-size: 24px;
    font-weight: bold;
  }
}
.comTit2{
  width: 100%;
  text-align: center;
  padding-top: 80px;
  h1{
    color: #2B363D;
    font-size: 24px;
    font-weight: bold;
  }
}
.comTit{
  width: 100%;
  text-align: center;
  padding-top: 50px;
  h1{
    color: #2B363D;
    font-size: 24px;
    font-weight: bold;
  }
}
.bannerLine{
  margin: 30px 0;
  display: inline-block;
  span{
    width: 20px;
    height: 3px;
    display: inline-block;
    float: left;
  }
  .greenLine{
    background: #2AB3AB;
    margin-right: 4px;
  }
  .blueLine{
    background: #368AF6;
  }
}
.comBtn{
  width: 165px;
  height: 45px;
  line-height: 45px;
  display: inline-block;
  text-align: center;
  border-radius: 25px;
  color: #fff;
  font-weight: bold;
  border: none;
  font-size: 12px;
  background-image: linear-gradient(to right, #00d2ff, #1a90fc);
  box-shadow: 0px 6px 24px 0px rgba(25, 145, 252, 0.4);
}

}
