@media screen and (min-width: 320px) and (max-width: 767px) {
  //+++++++++++ div4 style+++++++++++++++++++++++++++++++++++++++++++++++++

  .div3img1, .div3img2, .div3img3, .div3img4 {
    display: block;
    margin: 0 auto;
    padding-bottom: 0;
    margin-top: 30px;
  }
  .div3img1{
    width: 90%;
  }
  .div3img2, .div3img3 {
    width: 100%;
  }
  .div3img4 {
    padding-bottom: 30px;
    width: 100%;
  }

  .officalModule{
  }

  .officalModule3{
    //position: relative;
    padding-bottom: 30px;

    img {
      padding-top: 0;
      //padding-bottom: 100px;
    }
  }

  .officalModule3Div{
    margin-top: 20px;

    img {
      padding: 0;
      padding-left: 0;
      width: 3%;
    }
    h2{
      font-size: 26px;
      color: #2b363d;
    }

    p {
      font-size: 14px;
      color: #688499;
      text-align: left;
      margin-top: 60px;
    }
    ul{
      li{
        font-family: MicrosoftYaHei-Bold;
        font-size: 14px;
        font-weight: bold;
        font-stretch: normal;
        line-height: 21px;
        letter-spacing: 0px;
        color: #3680f8;
        margin-bottom: 7px;
      }
    }
    .officalModule31{
      font-size: 12px;
    }

    h2{
      font-size: 28px;
      color: #2b363d;
      font-weight: 600;
      display: inline-block;
      margin: 20px 0;
    }
    span {
      margin-left: 10px;
    }

    p {
      font-size: 12px;
      color: #688499;
      text-align: left;
      line-height: 1.6em;
      margin-top: 10px;
    }
  }
}
