
@media screen and (min-width: 1200px) {
  //+++++++++++ div3 style+++++++++++++++++++++++++++++++++++++++++++++++++
  .comBgWhite{
    width: 100%;
    background: #fff;
  }
  .officalModule3{
    // background: #f7fafe;
    //margin-top: 60px;
    height:520px;

    img {
      padding-top: 100px;
      float: left;
      width:353px;
    }
  }

  .officalModule3Div{
    position: relative;
    top: 150px;
    padding-left:5%;
    img {
      display: inline-block;
      width: 8px;
      padding-top: 6px;
      margin-right:8px;
    }

    h2{
      font-size: 26px;
      color: #2b363d;
      position: absolute;
      top: -10px;
    }

    p {
      font-size: 14px;
      color: #688499;
      text-align: left;
      margin: 60px 0 20px;
    }
    ul{
      li{
        font-family: MicrosoftYaHei-Bold;
        font-size: 14px;
        font-weight: bold;
        font-stretch: normal;
        line-height: 21px;
        letter-spacing: 0px;
        color: #3680f8;
        margin-bottom: 7px;
      }
    }
  }

  //==========1
  .officalModule4{
    background: #f7fafe;
    height:520px;
    img {
      padding-top: 100px;
      float: left;
      width:353px;
    }
  }

  .officalModule4Div{
    position: relative;
    top: 150px;
    img {
      display: inline-block;
      width: 8px;
      padding-top: 6px;
      margin-right:8px;
    }

    h2{
      font-size: 26px;
      color: #2b363d;
      position: absolute;
      top: -10px;
    }

    // span {
    //   padding-top: 6px;
    //   font-size: 12px;
    //   color: #96b1c5;
    //   position: absolute;
    //   top: 29px;
    // }

    p {
      font-size: 14px;
      color: #688499;
      text-align: left;
      padding-top: 50px;
      margin-bottom: 20px;
    }
    ul{
      li{
        font-family: MicrosoftYaHei-Bold;
        font-size: 14px;
        font-weight: bold;
        font-stretch: normal;
        line-height: 21px;
        letter-spacing: 0px;
        color: #3680f8;
        margin-bottom: 7px;
      }
    }
  }

}
