@media screen and (min-width: 768px) and (max-width: 769px) {
  .submit-area{
    position: absolute;
    top: 38px;
    left: 369px!important;
  }
  .submit-button{
    width:120px!important;
    font-size:12px!important;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .FooterRoot {
    background: #1e2736;
    color: #fff;
    margin: 0 auto;
  }

  .FooterContainer {
    margin: 0 auto;
    text-align: center;
    display: inline-block;
    position: relative;
    width: 100%;
  }

  .FooterformGroup{
    padding-top: 60px;
    padding-left: 20px;
    position: relative;
    width: 585px;
    margin: 0 auto;
    display: inline-block;

    img {
      position: absolute;
      left: 30px;
      top: 67px;
      margin: 0;
    }

    input {
      width: 58%;
      background-color: #1e2736;
      padding-left: 20px;
      border-radius: 50px;
    }

    p {
      padding-top: 15px;
      padding-left: 10px;
      text-align: left;
      color: #ffffff;
      font-size: 12px;
    }

    span {
      color: #3680f8;
      font-size: 12px;
    }

  }

  .FooterEnd{
    background: #2b3139;
    color: #fff;

    span{
      padding: 5px;
      font-size: 12px;
      color: #999999;
      text-align: center;
      display: block;
    }
  }


  ::-webkit-input-placeholder { /* WebKit browsers */
    margin-left: 20px;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    margin-left: 20px;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    margin-left: 20px;
  }
  :-ms-input-placeholder { /* Internet Explorer 10+ */
    margin-left: 20px;
  }

  .submit-area{
    position: absolute;
    top: 38px;
    left: 415px;
    span{
      color: #FFF;
      font-size: 16px;
      vertical-align: middle;
    }
  }

  .submit-button{
    width: 151px;
    height: 36px;
    line-height: 19px;
    margin-top: 20px;
    background-color: #3680f8;
    color: #fff;
    font-size: 14px;
    vertical-align: middle;
    padding-top: 7px;
    border-radius: 50px;
    img {
      padding: 0;
      padding-left: 7px;
      margin-bottom: 9px;
    }
  }

  .submit-button:focus,
  .submit-button:hover{
    color: #FFF;
    border-color: transparent;
  }

  .formGroupDiv{
    padding-right: 20px;
    width: 585px;
    margin: 20px auto;
    display: inline-block;
    padding-bottom: 20px;
    clear: both;

    a{
      cursor: pointer;
      display: inline-block;
      img{
        float: left;
        padding: 10px;
        margin-left: 10px;
      }
    }
  }

  .wechat{
    display: none;
    left: 12px;
    top: -125px!important;
  }

  .qq{
    display: none;
    right: 5px;
    top: -150px !important;
  }
  .footMenu{
    width: 25%;
    float: left;
    margin: 6px 0;
    margin-left: -20px;
    position: relative;
  }
  .footMenu span{
    color: #999;
    font-size: 10px;
    margin-top: 5px;
    display: block;
  }
  .Newsletter{
    width: 69px;
    position: relative;
    margin-left: 480px;
    margin-top: 20px;
    a{
      img{
        width: 53px;
      }
    }
    span{
      color: #999;
      font-size: 12px;
      margin-top: 5px;
    }
  }
  .GitHub{
    width: 69px;
    position: relative;
    margin-left: 480px;
    margin-top: 20px;
    a{
      img{
        width: 53px;
      }
    }
    span{
      color: #999;
      font-size: 12px;
      margin-top: 5px;
    }
  }
}
