@media screen and (min-width: 1025px) {
  .aboutDiv {
    position: relative;
    margin-top: 25px;
    background: #fff;
    // background: #06102e;
  
    .aboutHeader{
      padding-top: 0;
      position: relative;
      background: #f7fafd;
      height: 298px;
      top: -20px;

      .aboutHeaderImg1{
        position: absolute;
        top: 43%;
        left: 43%;
      }


      .aboutHeaderImg2{
        position: absolute;
        top: 30%;
        left: 38%;
      }

      h2 {
        font-family: MicrosoftYaHeiLight;
        font-size: 48px;
        color: #ffffff;
        position: absolute;
        top: 38%;
        left: 45%;
      }

      p {
        font-size: 16px;
        color: #ffffff;
        padding-top: 10px;
        position: absolute;
        left: 47%;
        top: 64%;
      }
    }

    .aboutHeaderEn{
      padding-top: 0;
      position: relative;
      background: #f7fafd;
      height: 298px;
      top: -20px;

      .aboutHeaderImg1{
        position: absolute;
        top: 43%;
        left: 40%;
        height: 70px;
        width: 420px;
      }


      .aboutHeaderImg2{
        position: absolute;
        top: 30%;
        left: 38%;
      }

      h2 {
        font-family: MicrosoftYaHeiLight;
        font-size: 48px;
        color: #fff;
        position: absolute;
        top: 44%;
        left: 42%;
      }
    }
  }

  .aboutBody{
    padding-bottom: 60px;
  }

  .aboutTitle{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 60px;
    h2{
      font-size: 24px;
      color: #012037;
    }
    p{
      font-size: 12px;
      color: #688499;
      padding-top: 3px;
    }
  }

  .aboutTeam{
    margin-bottom: 60px;
  }
  .aboutTitleDiv{
    background: #ffffff;
    .title{
      border-radius:50%
    }
    img{
      margin-top:20px;
    }
    text-align: center;
    height: 280px;
    width:28%;
    box-shadow: 0 1px 3px 0 rgba(63,63,68,.15);
    display:inline-block;
    margin:22px 22px; 
    h4{
      display: block;
      margin: 10px 0!important;
      font-size: 18px;

      color: #153259;
      small{
        padding-left: 4px;
        font-size: 12px;
        color: #7b7e84;
      }
    }
    p{
      text-align: center!important;
      font-size: 14px;
      color: #688499;
      text-align: left;
      height: 90px;
    }
  }

  .aboutTitleDiv2{
    text-align: center;
    background: #ffffff;
    height: 280px;
    width:28%;
    box-shadow: 0 1px 3px 0 rgba(63,63,68,.15);
    display:inline-block;
    margin:22px 22px;
    .title{
      border-radius:50%
    }
    .link{
      width:24px;
      height:24px;
    }
    img{
      margin-top:20px;
    }
    h4{
      display: block;
      font-size: 18px;
      color: #153259;
    }
    p{
      font-size: 14px;
      color: #688499;
      text-align: center;
      height: 70px;
      padding-left: 60px;
      padding-right: 60px;
      margin-bottom: 30px;
    }
  }

}
