@media screen and (min-width: 1025px) {
  .aboutDiv {
    position: relative;
    margin-top: 25px;

    .aboutHeader{
      padding-top: 0;
      position: relative;
      background: #f7fafd;
      height: 298px;
      top: -20px;

      .aboutHeaderImg1{
        position: absolute;
        top: 43%;
        left: 43%;
      }


      .aboutHeaderImg2{
        position: absolute;
        top: 30%;
        left: 38%;
      }

      h2 {
        font-family: MicrosoftYaHeiLight;
        font-size: 48px;
        color: #ffffff;
        position: absolute;
        top: 44%;
        left: 45%;
      }

      p {
        font-size: 16px;
        color: #ffffff;
        padding-top: 10px;
        position: absolute;
        left: 47%;
        top: 64%;
      }
    }

    .aboutHeaderEn{
      padding-top: 0;
      position: relative;
      background: #f7fafd;
      height: 298px;
      top: -20px;

      .aboutHeaderImg1{
        position: absolute;
        top: 43%;
        left: 40%;
        height: 70px;
        width: 420px;
      }


      .aboutHeaderImg2{
        position: absolute;
        top: 30%;
        left: 38%;
      }

      h2 {
        font-family: MicrosoftYaHeiLight;
        font-size: 48px;
        color: #fff;
        position: absolute;
        top: 44%;
        left: 42%;
      }
    }
  }

  .aboutBody{
    padding-bottom: 60px;
  }

  .aboutTitle{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 60px;
    h2{
      font-size: 24px;
      color: #012037;
    }
    p{
      font-size: 12px;
      color: #688499;
      padding-top: 3px;
    }
  }

  .aboutTitleDiv{
    text-align: center;
    //padding-top: 30px;
    h4{
      display: block;
      //padding-top: 10px;
      //padding-bottom: 10px;
      font-size: 18px;
      color: #153259;
      small{
        padding-left: 4px;
        font-size: 12px;
        color: #7b7e84;
      }
    }
    p{
      font-size: 14px;
      color: #688499;
      text-align: left;
      height: 120px;
      padding-left: 20px;
      padding-right: 20px;
      margin-bottom: 40px;
      //word-wrap: break-word;
      //word-break: break-all;
    }
  }

  .aboutTitleDiv2{
    text-align: center;
    //padding-top: 30px;
    h4{
      display: block;
      //padding-top: 10px;
      //padding-bottom: 10px;
      font-size: 18px;
      color: #153259;
    }
    p{
      font-size: 14px;
      color: #688499;
      text-align: center;
      height: 50px;
      padding-left: 60px;
      padding-right: 60px;
      margin-bottom: 30px;
    }
  }

}