@media screen and (min-width: 768px) and (max-width: 1119px) {
  td{
    padding-left:45px!important;
    border: none!important;
  }
  .crowd-div1HeaderImg{
    width: 20px;
    display: inline-block;
    height: 1px;
    border: 0;
    background-color: #d5d5d5;
    color: #d5d5d5;
    position: relative;
    top: 3px;
    margin: 10px;
  }

  .crowdsaleHeaderDivNumPC{
    position: relative;
    top: -100px;
    text-align: center;
    display: block;
    margin: 0 auto;
  }

  // +++++++++++++++++++++div1 style++++++++++++++++++++++++++++++++++++
  .crowd-div1Header {
    margin: 0 auto;
    padding-bottom: 30px;
    font-size: 16px;

    h2{
      margin: 0;
      font-family: "Microsoft YaHei";
      font-size: 24px;
      text-align: center;
      color: #2c313a;
      margin-bottom: 40px;
    }

    h4{
      color: #ff7800;
    }
    small{
      color: #3c85ff;
    }

    .crowd-div1HeaderDiv{
      margin-left: 20px;
      font-weight: 600;
      img{
        margin: 0;
        margin-right: 5px;
      }
      h4{
        color: #3c85ff;
        margin: 0;
      }
      p{
        margin-top: 10px;
        font-size: 14px;
        font-weight: 500;
        line-height: 30px;
        color: #688499;
        display: inline;
      }
      .crowd-div4Header-pot{
        width: 5px;
        height: 5px;
        background: #3c85ff;
        border-radius: 50%;
        display: inline-block;
        margin-bottom: 3px;
        margin-right: 11px;
      }
    }
  }

  // ++++++++++++++++++div2 style+++++++++++++++++++++++++++++++++++++++++++++
  .leftImg{
    position: relative;
    top: 140px;
    left: -20px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .leftImgEn{
    position: relative;
    top: 140px;
    left: -20px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .crowd-div2Header {
    margin: 0 auto;
    //padding-bottom: 30px;
    h2{
      margin: 0;
      padding: 40px 0 0 0;
      font-family: "Microsoft YaHei";
      font-size: 24px;
      text-align: center;
      color: #2c313a;
    }

    .crowd-div2HeaderDiv{
      margin-top: 40px;
      text-align: center;

      .crowd-div2HeaderDivLeft{
        width: 570px;
        display: inline-block;
        padding-bottom: 20px;
        border: 1px solid #ededed;
        display: inline-block;
        margin-right: 25px;
        position: relative;
        top: -28px;

        hr{
          width: 2px;
          height: 20px;
          display: inline-block;
          border: 0;
          background-color: #3c85ff;
          color: #3c85ff;
          position: absolute;
          top: 40px;
          left: 0;
          margin: 0;
        }

        h4{
          position: absolute;
          top: 30px;
          left: 24px;
          font-size: 20px;
          color: #353b47;
          strong{
            color: #3c85ff;
          }
        }

        small{
          position: absolute;
          top: 80px;
          left: 24px;
          text-align: left;
          font-size: 14px;
          color: #353b47;
        }

        .crowd-div2HeaderDivLeft-Div{
          border: 1px solid #d2e1f9;
          background: #f5f9ff;
          width: 90%;
          height: 140px;
          text-align: left;
          margin-top: 140px;
          margin-left: 24px;

          .crowd-div2HeaderDivLeft-Div1{
            position: relative;
            height: 50px;
            width: 450px;
            span{
              position: absolute;
              font-size: 14px;
              color: #3c85ff;
              font-weight: 600;
              top: 10px;
              left: 10px;
            }
            p{
              position: absolute;
              font-size: 12px;
              color: #688499;
              top: 10px;
              left: 25px;
            }
          }
        }

        #crowd-div2HeaderDivLeft-foot{
          p{
            text-align: left;
            padding-left: 32px;
            padding-top: 24px;
            font-size: 16px;
            font-weight: 600;
            color: #353b47;
            margin-bottom: 5px;
          }
          span{
            font-weight: 500;
            text-align: left;
            display: block;
            padding-left: 32px;
            padding-top: 10px;
          }

          .submit-area{
            float: left;
            margin-top: -17px;
            width: 100%;
          }

          .submit-button{
            background-color: #3680f8;
            border-radius: 4px;
            color: #FFF;
            font-size: 18px;
            vertical-align: middle;
            width: 240px;
            height: 50px;
            line-height: 50px;
            padding: 0;
          }

          .submit-button:hover{
            box-shadow: 0px 4px 8px 0px rgba(54, 128, 248, 0.4);
            border-radius: 4px;
          }
          .submit-area-p{
            float: left;
            margin-left: 30px;
            margin-top: 0;
          }

          .submit-button-p{
            color: #3680f8;
            font-size: 18px;
            padding: 0;
            font-weight: 500;
          }

        }
      }

      .crowd-div2HeaderDivRight{
        width: 570px;
        height: 390px;
        border: 1px solid #ededed;
        display: inline-block;
        margin-right: 25px;
        position: relative;
        hr{
          width: 2px;
          height: 20px;
          display: inline-block;
          border: 0;
          background-color: #16d1c8;
          color: #16d1c8;
          position: absolute;
          top: 40px;
          left: 0;
          margin: 0;
        }
        h4{
          position: absolute;
          top: 30px;
          left: 24px;
          font-size: 20px;
          color: #353b47;
          strong{
            color: #16d1c8;
          }
        }
        small{
          position: absolute;
          top: 80px;
          left: 24px;
          text-align: left;
          font-size: 14px;
          color: #353b47;
        }

        p{
          position: absolute;
          bottom: 30px;
          font-size: 20px;
          color: #16d1c8;
          text-align: center;
          width: 100%;
          //font-weight: 600;
        }

        .rowd-div2HeaderDivRight-Div{
          position: absolute;
          margin-top: 150px;
          margin-left: 24px;
          text-align: left;
          img{
            padding: 10px 30px;
            border: 1px solid #ededed;
            border-radius: 4px;
          }
          .img1{padding: 12px 38px; margin-bottom: 10px;}
          .img2{ padding: 7px 65px; margin: 20px;}
          .img4{ padding: 10px 45px;}
          .img5{
            padding-top: 9px;
            padding-bottom: 10px;
            margin-left: 20px;
            width: 39%;
          }

          .img3{
            padding: 10px 33px;
            margin-left: 20px;
            margin-bottom: 10px;
          }

          .img6{
            padding: 10px 37px;
            margin-bottom: 10px;
            margin-top: 10px;
          }

          //.img1:hover, .img2:hover, .img3:hover, .img4:hover, .img5:hover, .img6:hover{
          //  background: #16d1c8; box-shadow: 0px 6px 6px 0px rgba(22, 209, 200, 0.2);
          //}

        }
      }
    }
  }

  // ++++++++++++++++++div3 style+++++++++++++++++++++++++++++++++++++++++++++
  .crowd-div3Header {
    margin: 0 auto;
    padding-bottom: 30px;

    h2{
      margin: 0;
      padding: 40px 0 0 0;
      font-family: "Microsoft YaHei";
      font-size: 24px;
      text-align: center;
      color: #2c313a;
      margin-bottom: 40px;
    }

    .crowd-div3HeaderFaq{
      margin-bottom: 60px;
      b{
        font-size: 20px;
        color: #353b47;
        margin-bottom: 10px;
        display: block;
      }
      p{
        color: #688499;
        line-height: 1.5em;
      }
    }
  }

  // ++++++++++++++++++div4 style+++++++++++++++++++++++++++++++++++++++++++++
  .crowd-div4Header {
    margin: 0 auto;
    padding-bottom: 30px;

    .crowd-div4HeaderImg{
      width: 20px;
      display: inline-block;
      height: 1px;
      border: 0;
      background-color: #ff7800;
      color: #ff7800;
      position: relative;
      top: 3px;
      margin: 10px;
    }

    h2{
      margin: 0;
      //padding: 40px 0 0 0;
      font-family: "Microsoft YaHei";
      font-size: 24px;
      text-align: center;
      color: #ff7800;
      margin-bottom: 40px;
    }

    .crowd-div4Header-pot{
      width: 5px;
      height: 5px;
      background: #ff7800;
      border-radius: 50%;
      display: inline-block;
      margin-bottom: 3px;
      margin-right: 11px;
    }

    p{
      display: inline;
      line-height: 30px;
      font-size: 12px;
      color: #353b47;
      margin-bottom: 10px;
    }
  }

}

