@import '../../theme/variables';

@import './style/pro';
@import './style/pc';
@import './style/mobile';

.icoA{
  width: 100%;
  display: inline-block;
  text-align: center;
}

.linkIn{
  width:24px;
  height:24px;
  display: inline-block;
  background: url("./image/in.png") no-repeat center center;
  background-size: 100%;
}
.linkIn:hover{
  background: url("./image/inBlue.png") no-repeat center center;
  background-size: 100%;
}
.linkOther{
  width:24px;
  height:24px;
  display: inline-block;
  background: url("./image/other.png") no-repeat center center;
  background-size: 100%;
}
.linkOther:hover{
  background: url("./image/otherBlue.png") no-repeat center center;
  background-size: 100%;
}
