@-webkit-keyframes rotateWordsFirst {
	0% { opacity: 0; -webkit-animation-timing-function: ease-in; width: 0px;}
	5% { opacity: 1; -webkit-animation-timing-function: ease-out; width: 100%;}
	30% { opacity: 1; }
	35% { opacity: 0; }
	100% { opacity: 0; }
}
@-moz-keyframes rotateWordsFirst {
	0% { opacity: 0; -moz-animation-timing-function: ease-in; width: 0px;}
	5% { opacity: 1; -moz-animation-timing-function: ease-out; width: 100%;}
	30% { opacity: 1; }
	35% { opacity: 0; }
	100% { opacity: 0; }
}
@-o-keyframes rotateWordsFirst {
	0% { opacity: 0; -o-animation-timing-function: ease-in; width: 0px;}
	5% { opacity: 1; -o-animation-timing-function: ease-out; width: 100%;}
	30% { opacity: 1; }
	35% { opacity: 0; }
	100% { opacity: 0; }
}
@-ms-keyframes rotateWordsFirst {
	0% { opacity: 0; -ms-animation-timing-function: ease-in; width: 0px;}
	5% { opacity: 1; -ms-animation-timing-function: ease-out; width: 100%;}
	30% { opacity: 1; }
	35% { opacity: 0; }
	100% { opacity: 0; }
}
@keyframes rotateWordsFirst {
	0% { opacity: 0; animation-timing-function: ease-in; width: 0px;}
	5% { opacity: 1; animation-timing-function: ease-out; width: 100%;}
	30% { opacity: 1; }
	35% { opacity: 0; }
	100% { opacity: 0; }
}


@-webkit-keyframes rotateWordsSecond {
	0% { opacity: 0; -webkit-transform: translateZ(600px) translateX(200px);}
	8% { opacity: 1; -webkit-transform: translateZ(0px) translateX(0px);}
	25% { opacity: 1; }
	30% { opacity: 0; }
	100% { opacity: 0; }
}
@-moz-keyframes rotateWordsSecond {
	0% { opacity: 0; -moz-transform: translateZ(600px) translateX(200px);}
	8% { opacity: 1; -moz-transform: translateZ(0px) translateX(0px);}
	25% { opacity: 1; }
	30% { opacity: 0; }
	100% { opacity: 0; }
}
@-o-keyframes rotateWordsSecond {
	0% { opacity: 0; -o-transform: translateZ(600px) translateX(200px);}
	8% { opacity: 1; -o-transform: translateZ(0px) translateX(0px);}
	25% { opacity: 1; }
	30% { opacity: 0; }
	100% { opacity: 0; }
}
@-ms-keyframes rotateWordsSecond {
	0% { opacity: 0; -ms-transform: translateZ(600px) translateX(200px);}
	8% { opacity: 1; -ms-transform: translateZ(0px) translateX(0px);}
	25% { opacity: 1; }
	30% { opacity: 0; }
	100% { opacity: 0; }
}
@keyframes rotateWordsSecond {
	0% { opacity: 0; transform: translateZ(600px) translateX(200px);}
	8% { opacity: 1; transform: translateZ(0px) translateX(0px);}
	25% { opacity: 1; }
	30% { opacity: 0; }
	100% { opacity: 0; }
}

.rw-words{
	width: 100%;
	height: 64px;
	-webkit-perspective: 800px;
	-moz-perspective: 800px;
	-o-perspective: 800px;
	-ms-perspective: 800px;
	perspective: 800px;
}
.rw-words h2{
	position: absolute;
	/*width: 100%;*/
	opacity: 0;
	white-space: nowrap;
	overflow: hidden;
}

.rw-words-1 h2{
	font-size: 300%;
	/*font-style: italic;*/
	text-indent: 5px;
	line-height: 90%;
	/*color: #da0a0a;	*/
	-webkit-animation: rotateWordsFirst 8s ease-in infinite 0s;
	-moz-animation: rotateWordsFirst 8s ease-in infinite 0s;
	-o-animation: rotateWordsFirst 8s ease-in infinite 0s;
	-ms-animation: rotateWordsFirst 8s ease-in infinite 0s;
	animation: rotateWordsFirst 8s ease-in infinite 0s;
}
.rw-words-1 h2:nth-child(2) {
	-webkit-animation-delay: 4s;
	-moz-animation-delay: 4s;
	-o-animation-delay: 4s;
	-ms-animation-delay: 4s;
	animation-delay: 4s;
}


.rw-words-2 h2{
	font-size: 300%;
	/*font-style: italic;*/
	text-indent: 5px;
	line-height: 90%;
	/*color: #da0a0a;	*/
	-webkit-animation: rotateWordsFirst 9s ease-in infinite 0s;
	-moz-animation: rotateWordsFirst 9s ease-in infinite 0s;
	-o-animation: rotateWordsFirst 9s ease-in infinite 0s;
	-ms-animation: rotateWordsFirst 9s ease-in infinite 0s;
	animation: rotateWordsFirst 9s ease-in infinite 0s;
}
.rw-words-2 h2:nth-child(2) {
    -webkit-animation-delay: 3s;
	-moz-animation-delay: 3s;
	-o-animation-delay: 3s;
	-ms-animation-delay: 3s;
	animation-delay: 3s;
}
.rw-words-2 h2:nth-child(3) {
    -webkit-animation-delay: 6s;
	-moz-animation-delay: 6s;
	-o-animation-delay: 6s;
	-ms-animation-delay: 6s;
	animation-delay: 6s;
}
/*.rw-words h2:nth-child(4) {*/
    /*-webkit-animation-delay: 9s;*/
	/*-moz-animation-delay: 9s;*/
	/*-o-animation-delay: 9s;*/
	/*-ms-animation-delay: 9s;*/
	/*animation-delay: 9s;*/
/*}*/
/*.rw-words h2:nth-child(5) {*/
    /*-webkit-animation-delay: 12s;*/
	/*-moz-animation-delay: 12s;*/
	/*-o-animation-delay: 12s;*/
	/*-ms-animation-delay: 12s;*/
	/*animation-delay: 12s;*/
/*}*/
/*.rw-words h2:nth-child(6) {*/
    /*-webkit-animation-delay: 15s;*/
	/*-moz-animation-delay: 15s;*/
	/*-o-animation-delay: 15s;*/
	/*-ms-animation-delay: 15s;*/
	/*animation-delay: 15s;*/
/*}*/

@media screen and (max-width: 1060px){
	.rw-words{ height: 55px; }
	.rw-words-1 h2{ font-size: 280%; text-indent: 5px;}
	.rw-words-2 h2 { font-size: 160%; }
}
@media screen and (max-width: 560px){
	.rw-words{ height: 40px; }
	.rw-words-1 h2{ font-size: 180%; text-indent: 5px;}
	.rw-words-2 h2 { font-size: 90%; }
}
@media screen and (max-width: 400px){
	.rw-words{ height: 30px; }
	.rw-words-1 h2{ font-size: 140%; text-indent: 5px;}
	.rw-words-2 h2 { font-size: 70%; }
}


/*////////////////////////////////////////////////////////////////////////////*/

.progress{
	height: 25px;
	background: #262626;
	padding: 5px;
	overflow: visible;
	border-radius: 20px;
	border-top: 1px solid #000;
	border-bottom: 1px solid #7992a8;
	margin-top: 50px;
}
.progress .progress-bar{
	border-radius: 20px;
	position: relative;
	animation: animate-positive 2s;
}
.progress .progress-value{
	display: block;
	padding: 3px 7px;
	font-size: 13px;
	color: #fff;
	border-radius: 4px;
	background: #191919;
	border: 1px solid #000;
	position: absolute;
	top: -40px;
	right: -10px;
}
.progress .progress-value:after{
	content: "";
	border-top: 10px solid #191919;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	position: absolute;
	bottom: -6px;
	left: 26%;
}
.progress-bar.active{
	animation: reverse progress-bar-stripes 0.40s linear infinite, animate-positive 2s;
}
@-webkit-keyframes animate-positive{
	0% { width: 0; }
}
@keyframes animate-positive{
	0% { width: 0; }
}