@media screen and (min-width: 768px){
    body{
        color: #353b47;
        font-family: "MicrosoftYaHei";
    }
    .embed form, .embed body {
        margin: 0 auto !important;
        width: 80%;
    }
    /*9-15*/
    .wufoo .info h2 {
        font-size: 48px;
        color: #353b47;
    }
    .info h2{
        margin: 0 0 40px 0;
    }
    .leftLabel li, .rightLabel li {
        padding: 0;
        margin-bottom: 20px;
    }
    .wufoo li div, .wufoo li span, .wufoo li div label, .wufoo li span label{
        color: #353b47;
        font-size: 14px;
    }
    form li div label .currently{
        font-style: normal;
    }
    form li.focused .instruct, form li:hover .instruct{
        left: 108%;
        margin-top: 0;
    }
    .safari .wufoo select.select{
        width: 100%;
        height: 46px;
        padding: 0;
        font-size: 16px!important;
        color: #7b7e84;
        border: 1px solid #e4e9ef;
        
    }
    input.medium, select.medium{
        text-indent: 15px;
    }
    .wufoo input.btTxt{
        font-size: 24px;
        width: 100%;
        height: 46px;
        background: -webkit-linear-gradient(#0188ff, #32a5ff);
        background: -o-linear-gradient(#0188ff, #32a5ff);
        background: -moz-linear-gradient(#0188ff, #32a5ff);
        background: linear-gradient(#0188ff, #32a5ff);
    }
    .leftLabel .buttons div, .rightLabel .buttons div{
        margin: 5px 0 0 20px;
        font-family: "MicrosoftYaHei";
    }
    form ul{
        margin-top: 40px;
    }
    .wufoo .section h3, .wufoo .captcha, #payment .paging-context{
        padding-top: 30px;
    }
    form li.section div{
        margin: 0 0 2em 0;
    }


    .wufoo li.focused {
        background-color: #ffffff;
    }

    .wufoo .instruct {
        background-color: #ffffff;
    }

    .wufoo input.text, .wufoo textarea.textarea, .wufoo input.file, .wufoo select.select {
        background: #ffffff url(/images/fieldbg.gif) repeat-x top;
        width: 100%;
        height: 46px;
        padding: 0;
        font-size: 16px!important;
        color: #7b7e84;
        border: 1px solid #e4e9ef;

    }

    .wufoo .info div {
        font-size: 14px;
        color: #353b47;
    }

    form li.focused .instruct, form li:hover .instruct {
        left: 108%;
        opacity: 0.5;
        padding-top: 0px;
        padding-bottom: 4px;
        margin-top: 4px;
    }

    .safari .wufoo select.select {
        background: #ffffff url(/images/fieldbg.gif) repeat-x top;
    }

    .wufoo li div, .wufoo li span, .wufoo li div label, .wufoo li span label {
        color: #0188ff;
    }

    .wufoo .section h3 {
        font-size: 100%;
    }

    .wufoo input.btTxt {
        border: 0;
        background: #0188ff;
        color: #ffffff;
        padding: 10px 60px;
        font-size: 20px;
        border-radius: 4px;
        cursor: pointer;
    }

    .confirm h2 {
        text-align: left;
    }

    #Field470 {
        width: 100%;
    }

}


@media screen and (max-width: 767px) {
    ._2jFZhe6NcUflZW-uR0zXXD{
        width: 100%!important;
    }
    .embed form, .embed body {
        margin: 0 auto !important;
        width: 96%;
    }
    .wufoo input.text, .wufoo textarea.textarea, .wufoo input.file, .wufoo select.select{
        width: 97%;
        height: 36px;
    }
    .leftLabel li, .rightLabel li{
        width: 100%!important;
        padding-top: 18px!important;
    }
    .wufoo input.text, .wufoo textarea.textarea, .wufoo input.file{
        background: #fff;
        width: 100%;
    }
    .wufoo .section h3{
        margin: 20px 0;
    }
    .leftLabel .buttons, .rightLabel .buttons{
        padding-left: 0;
    }
    .wufoo input.btTxt{
        font-size: 24px;
        width: 88%;
        height: 46px;
        background: -webkit-linear-gradient(#0188ff, #32a5ff);
        background: -o-linear-gradient(#0188ff, #32a5ff);
        background: -moz-linear-gradient(#0188ff, #32a5ff);
        background: linear-gradient(#0188ff, #32a5ff);
        color: #fff;
    }
    .leftLabel li div, .rightLabel li div{
        width: 100%;
    }
    .wufoo li.focused{
        background: none;
    }
    .wufoo label.desc, .wufoo legend.desc{
        margin-bottom: 6px!important;
    }
     .wufoo input.text, .wufoo textarea.textarea, .wufoo input.medium, .wufoo select.select {
        background: #ffffff url(/images/fieldbg.gif) repeat-x top;
        width: 90%;
        height: 36px;
        padding: 0;
        font-size: 16px!important;
        color: #7b7e84;
        border: 1px solid #e4e9ef;
        text-indent: 15px;

    }
    .wufoo .instruct small{
        font-size: 12px;
        font-family: inherit;
        font-style: normal;
        font-weight: bold;
        color: #7b7e84!important;
        text-align: left;
        line-height: 9px;
    }

    input.medium, select.medium{
        text-indent: 12px;
    }
    .currently{
        font-style: normal;
    }
    .wufoo .info h2 {
        font-size: 28px!important;
        margin-bottom: 23px;
    }

    .leftLabel .desc, .rightLabel .desc {
        width: 100%;
    }

    .leftLabel p.instruct, .rightLabel p.instruct {
        width: 99%;
        top: 0;
        left: 0;
        line-height: 17px;
    }

    input.medium, select.medium {
        width: 80%;
    }

    .wufoo .section div {
        margin-bottom: 0;
    }

    .confirm h2 {
        text-align: left;
        font-size: 140%;
        padding: 0;
    }
}
