/*.wufoo .info h2 {*/
    /*color: red;*/
/*}*/

.wufoo li.focused {
    background-color: #ffffff;
}

.wufoo .instruct {
    background-color: #ffffff;
}

.wufoo input.text, .wufoo textarea.textarea, .wufoo input.file, .wufoo select.select {
    background: #ffffff url(/images/fieldbg.gif) repeat-x top;
}