//@import 'base';
//@import '~bootstrap/scss/bootstrap.scss';

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

html,body{margin:0;padding:0;font-family:"Microsoft YaHei";font-size:14px; height: 100%;}
h1,h2,h3,h4,h5,ol,ul,li,dl,dt,dd,img,p,input,hr{margin:0;padding:0;border:0;list-style:none;}
a{color:#333;text-decoration:none;}
a:hover {
  text-decoration: none;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
