@media screen and (min-width: 320px) and (max-width: 767px) {

  .div1HeaderImg{
    display: none;
  }

  // +++++++++++++++++++++div1 style++++++++++++++++++++++++++++++++++++
  .div1Header {
    margin: 0 auto;
    padding-bottom: 30px;

    h2{
      margin: 0;
      padding: 40px 0 0;
      font-family: Microsoft YaHei;
      font-size: 24px;
      text-align: center;
      color: #2c313a;
    }

    .div1HeaderImg2{
      display: block;
      margin: 0 auto;
      padding-top: 40px;
      width: 100%;
    }

    p{
      font-family: "Microsoft YaHei";
      color: #688499;
      font-size: 12px;
      text-align: center;
      padding-top: 5px;
    }
  }
}

