@media screen and (min-width: 1199px) {
  // +++++++++++++++++++++div1 style++++++++++++++++++++++++++++++++++++
  .comBgWhite{
    width: 100%;
    background: #fff;
  }
  .div1Header {
    margin: 0 auto;
    padding: 0;
    padding-bottom: 30px;
    height:800px;
    background: #fff;
    h2{
      margin: 0;
      padding: 80px 0 0 0;
      font-family: "Microsoft YaHei";
      font-size: 24px;
      text-align: center;
      color: #2c313a;
    }

    .div1HeaderImg{
      span{
        font-family: MicrosoftYaHei-Bold;
      	font-size: 24px;
      	font-weight: normal;
      	font-stretch: normal;
      	line-height: 14px;
      	letter-spacing: 1px;
      	color: #2b363d;
      }
    }

    .div1HeaderImg2{
      float: left;
      margin-top: 50px;
      margin-right: 100px;
      img{
        width: 445px;
        display: inline-block;
      }
    }

    .divTextContent{
      float:left;
      width: 600px;
      margin-top: 100px;

      li{
        float: left;
        width: 263px;
        margin: 0 37px 25px 0;
        img{
          width:60px;
          display: block;
        }
        p{
          text-align: left;
          font-size: 18px;
          font-weight: normal;
          font-stretch: normal;
          line-height: 14px;
          letter-spacing: 0px;
          color: #2b363d;
          margin: 15px auto;
          font-family: MicrosoftYaHei-Bold;
        }
        span{
          font-size: 14px;
          font-weight: normal;
          font-stretch: normal;
          line-height: 18px;
          letter-spacing: 0px;
          color: #8392a6;
        }
      }
    }

    p{
      font-family: "Microsoft YaHei";
      color: #688499;
      font-size: 12px;
      text-align: center;
      padding-top: 5px;
      margin-bottom: 50px;
    }
  }
}
