@media screen and (min-width: 1200px) {
  // ++++++++++++++++++div1o style+++++++++++++++++++++++++++++++++++++++++++++
  .div1o{
    background: #f7fafe;

    .div1oHeader {
      margin: 0 auto;
      padding: 0;
      padding-bottom: 30px;
      width: 1196px;

      h2{
        margin: 0;
        padding: 80px 0 0 0;
        font-family: "Microsoft YaHei";
        font-size: 24px;
        text-align: center;
        color: #2c313a;

        span{
          font-family: MicrosoftYaHei-Bold;
          font-size: 24px;
          font-weight: normal;
          font-stretch: normal;
          line-height: 14px;
          letter-spacing: 1px;
          color: #2b363d;
        }
      }

      .div1oBody{
        margin-top: 60px;
        .div1oBodyCard{
          border-radius: 4px;
          background: #fff;
          box-shadow: 0 3px 6px 0 rgba(5,13,208,.05);
          width: 284px;
          height: 381px;
          display: inline-block;
          margin: 0 10px;
          position: relative;

          .div1oBodyCardModule{
            position: absolute;
            top: 50px;
            float: left;
            img{
              margin-left: 20px;
              display: block;
              float: left;
            }
            p{
              display: block;
              font-size: 20px;
              font-weight: 600;
              color: #2b363d;
              padding-left: 17px;
              padding-right: 50px;
              position: relative;
              top: 10px;
              small{
                color: #3680f8;
                font-size: 20px;
              }
            }
          }

          .div1oBodyCardLine{
            left: 35px;
            top: 185px;
            position: absolute;
            margin: 0;
          }

          ul {
            margin-top: 35px;
            margin-bottom: 20px;
            left: 21px;
            top: 190px;
            position: absolute;
            line-height: 15px;
            img{
              padding-right: 10px;
              width: 17px;
              margin-top: -30px;
            }
            li{
              color: #688499;
              font-size: 14px;
              position: relative;
              top: -30px;
              left: 20px;
              margin-bottom: -10px;
              line-height: 20px;
            }
          }
        }

        #card1{margin-left: 0}
        #card4{margin-right: 0}
      }

    }

    /// EN
    .div1oHeaderEn {
      margin: 0 auto;
      padding: 0;
      padding-bottom: 30px;
      width: 1196px;

      h2{
        margin: 0;
        padding: 80px 0 0 0;
        font-family: "Microsoft YaHei";
        font-size: 24px;
        text-align: center;
        color: #2c313a;
      }

      .div1oBody{
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
        .div1oBodyCard{
          border-radius: 4px;
          background: #fff;
          box-shadow: 0 3px 6px 0 rgba(5,13,208,.05);
          width: 284px;
          height: 460px;
          display: inline-block;
          margin: 0 10px;
          position: relative;

          .div1oBodyCardModule{
            text-align: center;
            margin: 0 auto;
            margin-bottom: 10px;
            padding-top: 29px;
            .p{
              width: 100%;
              margin: 0 auto;
              text-align: center;
              img{
                width: 100px;
              }
            }

            p{
              width: 100%;
              margin: 0 auto;
              font-size: 18px;
              font-weight: 600;
              color: #2b363d;
              padding: 15px 0 0 10px;
              padding-right: 0;
              position: relative;
              top: 0;
              display: block;
              small{
                color: #3680f8;
                font-size: 18px;
              }
            }
          }

          .div1oBodyCardLine{
            left: 35px;
            top: 229px;
            position: absolute;
            width: 314px;
            height: 2px;
          }

          ul {
            margin-top: 35px;
            margin-bottom: 20px;
            left: 35px;
            top: 220px;
            position: absolute;
            line-height: 15px;
            margin-right: 8px;
            img{
              padding-right: 10px;
              width: 17px;
            }
            li{
              color: #688499;
              font-size: 14px;
              position: relative;
              top: -20px;
              left: 14px;
              margin-bottom: -10px;
              line-height: 30px;
              padding-right: 8px;
            }
          }
        }

        #card1{margin-left: 0}
        #card4{margin-right: 0}
      }

    }
  }

}
