@media screen and (min-width: 768px) and (max-width: 769px) {
  .div1oBody23{
    margin: 60px auto 0 auto;
    width: 608px!important;
    text-align: left;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {

  // ++++++++++++++++++div2 style+++++++++++++++++++++++++++++++++++++++++++++
  .div1o{
    background: #f7fafe;

    .div1oHeader {
      margin: 0 auto;
      padding: 0;
      padding-bottom: 30px;
      width: 100%;

      h2{
        margin: 0;
        padding: 80px 0 0 0;
        font-family: "Microsoft YaHei";
        font-size: 22px;
        text-align: center;
        color: #2c313a;
      }

      .div1oBody{
        margin: 60px auto 0 auto;
        width: 100%;
        text-align: left;
        .div1oBodyCard{
          border-radius: 4px;
          background: #fff;
          box-shadow: 0 3px 6px 0 rgba(5,13,208,.05);
          width: 46%;
          height: 381px;
          display: inline-block;
          margin: 0 10px;
          position: relative;
          margin-bottom: 20px;

          .div1oBodyCardModule{
            position: absolute;
            top: 50px;

            img{padding-left: 24px}
            p{
              display: inline-block;
              font-size: 20px;
              font-weight: 600;
              color: #2b363d;
              padding-left: 6px;
              padding-right: 50px;
              position: relative;
              top: 10px;
              small{
                color: #3680f8;
                font-size: 18px;
              }
            }
          }

          .div1oBodyCardLine{
            left: 35px;
            top: 185px;
            position: absolute;
            margin: 0;
          }

          ul {
            margin-top: 35px;
            margin-bottom: 20px;
            left: 35px;
            top: 185px;
            position: absolute;
            line-height: 15px;
            img{
              padding-right: 10px;
              width: 17px;
              margin-top: -20px;
            }
            li{
              color: #688499;
              font-size: 14px;
              position: relative;
              top: -28px;
              left: 20px;
              margin-bottom: -10px;
              line-height: 20px;
              text-align: left;
            }
          }
        }
      }

    }

    .div1oHeaderEn {
      margin: 0 auto;
      padding: 0;
      padding-bottom: 30px;
      width: 100%;

      h2{
        margin: 0;
        padding: 80px 0 0 0;
        font-family: "Microsoft YaHei";
        font-size: 22px;
        text-align: center;
        color: #2c313a;
      }

      .div1oBody{
        margin: 60px auto 0 auto;
        width: 100%;
        text-align: left;
        .div1oBodyCard{
          border-radius: 4px;
          background: #fff;
          box-shadow: 0 3px 6px 0 rgba(5,13,208,.05);
          width: 46%;
          height: 440px;
          display: inline-block;
          margin: 0 10px;
          position: relative;
          margin-bottom: 30px;

          .div1oBodyCardModule{
            position: absolute;
            top: 50px;

            img{    margin-left: 18px;
              float: left;
            }
            p{
              float: left;
              display: inline-block;
              font-size: 14px;
              font-weight: 600;
              color: #2b363d;
              padding-left: 10px;
              padding-right: 0;
              position: relative;
              top: 17px;
              small{
                color: #3680f8;
                font-size: 18px;
              }
            }
          }

          .div1oBodyCardLine{
            left: 35px;
            top: 185px;
            position: absolute;
          }

          ul {
            margin-top: 35px;
            margin-bottom: 20px;
            left: 35px;
            top: 185px;
            position: absolute;
            line-height: 15px;
            padding-right: 20px;
            img{
              padding-right: 10px;
              width: 17px;
              margin-top: -11px;
            }
            li{
              color: #688499;
              font-size: 14px;
              position: relative;
              top: -20px;
              left: 14px;
              margin-bottom: -10px;
              line-height: 20px;
              padding-right: 8px;
            }
          }
        }

        #card1{margin-left: 0}
        #card4{margin-right: 0}
        #div1oP3, #div1oP3 { top: 16px; }
      }

    }
  }

}

