@media screen and (min-width: 768px) and (max-width: 1119px) {
  //+++++++++++ div6 style+++++++++++++++++++++++++++++++++++++++++++++++++

  .div5HeaderDiv {
    margin: 0 auto;
    h2{
      margin: 0;
      padding: 30px 0 0;
      font-family: Microsoft YaHei;
      font-size: 24px;
      text-align: center;
      color: #2c313a;
    }
  }

  .module8Div1{
    padding-left: 30px;
    .module8Div1Up{
      padding-left: 0;
      padding-bottom: 10px;

      h4{
        text-align: left;
        line-height: 30px;
        font-size: 22px;
        margin-top: 0;
      }

      p{
        font-family: BebasNeue;
        font-size: 30px;
        color: #498cf9;
        padding-top: 10px;
        margin: 0 auto;
        text-align: left;
      }

      small{
        span{
          font-size: 20px;
          color: #2b363d;
        }
      }
    }
  }
}