
@media screen and (min-width: 1200px) {

  // ++++++++++++++++++div3 style+++++++++++++++++++++++++++++++++++++++++++++
  .comBgWhite{
    width: 100%;
    background: #fff;
  }
  .div2Header {
    margin: 0 auto;
    padding-bottom: 30px;
    background: #fff;
    h2 {
      margin: 0;
      padding: 80px 0 0 0;
      font-family: "Microsoft YaHei";
      font-size: 24px;
      text-align: center;
      color: #2c313a;
    }

    img {
      margin: 0;
      padding-top: 11px;
      padding-bottom: 0;

    }
    p {
      font-family: "Microsoft YaHei";
      color: #688499;
      font-size: 12px;
      text-align: center;
      padding-top: 5px;
    }
  }

  .astroModule2 img {
    padding-top: 60px;
    padding-bottom: 10px;
    width: 576px;
  }

  .astroModule2word {
    float: right;
    margin-top: 120px;

    p {
      font-size: 14px;
      color: #688499;
      text-align: left;
      padding-top: 40px;
    }
  }

  .astroModule2wordDiv {

    border-radius: 4px;
    border: 1px solid #eff4fb;
    margin-bottom: 20px;
    width: 400px;

    img {
      padding: 0;
      padding-left: 10px;
      position: relative;
      top: -10px;
    }

    p {
      display: inline-block;
      font-size: 14px;
      padding: 0;
      padding-left: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    small {
      color: #296de9;
      font-size: 14px;
      font-weight: 600;
    }
  }

  .astroModule2wordDivEn {
    border-radius: 4px;
    border: 1px solid #eff4fb;
    margin-bottom: 20px;
    width: 400px;

    img {
      padding: 0;
      padding-left: 10px;
      position: relative;
      top: 10px;
    }

    p {
      display: inline-block;
      font-size: 14px;
      padding: 0;
      padding-left: 46px;
      margin-top: -15px;
      margin-bottom: 10px;
    }

    small {
      color: #296de9;
      font-size: 14px;
      font-weight: 600;
    }
  }

  .div2-submit-area {
    padding-top: 10px;
  }

  .div2-submit-button {
    width: 150px;
    height: 50px;
    margin-top: 15px;
    background-color: #3680f8;
    color: #FFF;
    font-size: 22px;
    vertical-align: middle;
  }

  .div2-submit-button img {
    padding: 0;
    padding-left: 7px;
    margin-bottom: 9px;
  }

  .div2-submit-button:focus,
  .div2-submit-button:hover {
    color: #FFF;
    border-color: transparent;
  }

  .div2-submit-buttonEn {
    width: 185px;
    height: 50px;
    margin-top: 15px;
    background-color: #3680f8;
    color: #FFF;
    font-size: 22px;
    vertical-align: middle;
  }

  .div2-submit-buttonEn img {
    padding: 0;
    padding-left: 7px;
    margin-bottom: 9px;
  }

  .div2-submit-buttonEn:focus,
  .div2-submit-buttonEn:hover {
    color: #FFF;
    border-color: transparent;
  }

  .videoBtn{
    color: #fff;
    float: left;
    width:190px;
    height:50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    margin: 45px 40px 0 0;
    font-size:16px;
    font-weight: bold;
    border-radius:25px;
    background-image: linear-gradient(to right, #3680F8, #00AEFF);
  }
  .videpIco{
    display: inline;
    width: 28px!important;
    height: 28px!important;
    margin: 0 0 0 8px!important;
    padding: 0!important;
  }
  .videoshade{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    background: #000;
    opacity: .5;
  }
  .videoBox{
    width: 950px;
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 5;
    margin-left: -427px;
    margin-top: -267px;
  }

}
