@media screen and (min-width: 768px) and (max-width: 1199px) {
  // ++++++++++++++++++div3 style+++++++++++++++++++++++++++++++++++++++++++++
  .div2Header {
    margin: 0 auto;
    padding-bottom: 30px;
    h2{
      margin: 0;
      padding: 30px 0 0 0;
      font-family: "Microsoft YaHei";
      font-size: 24px;
      text-align: center;
      color: #2c313a;
    }

    img{
      margin: 0;
      padding-top: 11px;
      padding-bottom: 0;

    }p{
       font-family: "Microsoft YaHei";
       color: #688499;
       font-size: 12px;
       text-align: center;
       padding-top: 5px;
     }
  }

  .astroModule2Img{
    display: block;
    margin: 0 auto;
    padding-top: 40px;
    width: 70%;
    padding-bottom: 30px;
  }

  .astroModule2 img{
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0 auto;
  }

  .astroModule2word {
    margin: 0 auto;
    display: block;

    p {
      font-size: 14px;
      color: #688499;
      text-align: left;
      padding-top: 10px;
    }
  }


  .astroModule2wordDiv {
    position: relative;
    height: 88px;
    border-radius: 4px;
    border: 1px solid #eff4fb;
    margin-bottom: 20px;

    img{
      display: inline-block;
      padding: 0;
      padding-top: 20px;
      padding-left: 60px;
    }

    p {
      display: inline-block;
      text-align: left;
      position: absolute;
      top: 15px;
      left: 100px;
      font-size: 20px;
      padding: 0;
    }

    small {
      color: #296de9;
      font-size: 20px;
      font-weight: 600;
    }
  }


  .astroModule2wordDivEn {
    position: relative;
    height: 88px;
    border-radius: 4px;
    border: 1px solid #eff4fb;
    margin-bottom: 20px;

    img{
      display: inline-block;
      padding: 0;
      padding-top: 20px;
      padding-left: 60px;
    }

    p {
      display: inline-block;
      text-align: left;
      position: absolute;
      top: 15px;
      left: 100px;
      font-size: 20px;
      padding: 0;
    }

    small {
      color: #296de9;
      font-size: 20px;
      font-weight: 600;
    }
  }



  .div2-submit-area{
    padding-top: 20px;
    text-align: center;
  }

  .div2-submit-button{
    width: 116px;
    height: 44px;
    line-height: 44px;
    margin-top: 10px;
    background-color: #3680f8;
    color: #fff;
    font-size: 15px;
    vertical-align: middle;
    padding-top: 0;
  }

  .div2-submit-button img {
    padding: 0;
    padding-left: 7px;
    margin-bottom: 9px;
  }

  .div2-submit-button:focus,
  .div2-submit-button:hover{
    color: #FFF;
    border-color: transparent;
  }




  .div2-submit-buttonEn{
    width: 300px;
    height: 44px;
    line-height: 44px;
    margin-top: 10px;
    background-color: #3680f8;
    color: #fff;
    font-size: 15px;
    vertical-align: middle;
    padding-top: 0;
  }

  .div2-submit-buttonEn img {
    padding: 0;
    padding-left: 7px;
    margin-bottom: 9px;
  }

  .div2-submit-buttonEn:focus,
  .div2-submit-buttonEn:hover{
    color: #FFF;
    border-color: transparent;
  }
  .videoBtn{
    color: #fff;
    float: left;
    width:190px;
    height:50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    margin: 45px 40px 0 0;
    font-size:16px;
    font-weight: bold;
    border-radius:25px;
    background-image: linear-gradient(to right, #3680F8, #00AEFF);
  }
  .videpIco{
    display: inline;
    width: 28px!important;
    height: 28px!important;
    margin: 0 0 0 8px!important;
    padding: 0!important;
  }
  .videoshade{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    background: #000;
    opacity: .5;
  }
  .videoBox{
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 5;
    margin-left: -377px;
    margin-top: -186px;
  }

}
