@media screen and (min-width: 768px) and (max-width: 1024px) {
  .navRoot{
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    background-image: linear-gradient(to bottom,#fff 0,#f8f8f8 100%);

    box-shadow:  0px 3px 12px 0px rgba(20, 27, 45, 0.08);
    -webkit-box-shadow:  0px 3px 12px 0px rgba(20, 27, 45, 0.08);
    -moz-box-shadow:  0px 3px 12px 0px rgba(20, 27, 45, 0.08);
  }
  .navHeader{
    img{
      padding-top: 10px;
      float: left;
      width: 15%;
    }

    .navbarImg{
      display: none;
    }

    .navHeaderUl{
      padding-top: 10px;
      float: left;
      padding-left: 30px;

      #navbar-brand{
        li{
          a{
            color: #000000;
          }
        }
      }
    }

    .navbar-toggle{
      z-index: 999;
    }
    .menu-icon-span{
      opacity: 0;
    }
  }

  .navGit{
    float: right;
    img{
      margin-top: 4px;
      position: relative;
      left: 10px;
      width: 30%;
    }
    p{
      color: #000000;
      float: right;
      margin-right: 32px;
      padding-top: 0;
      margin-top: 15px;
      font-size: 10px;
    }
    a{
      color: #000000;
      text-decoration: none;
      cursor: pointer;
    }
  }

  .navbar-brand{
    padding: 29px 15px;
    height: auto;
  }
  nav.navbar.bootsnav{
    border: none;
    margin-bottom: 150px;
  }
  .navbar-nav{
    float: left;
  }
  nav.navbar.bootsnav ul.nav > li > a{
    color: #474747;
    text-transform: uppercase;
    padding: 30px;
  }
  nav.navbar.bootsnav ul.nav > li:hover{
    //background: #f4f4f4;
  }
  .nav > li:after{
    content: "";
    width: 0;
    height: 5px;
    background: #34c9dd;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.5s ease 0s;
  }
  .nav > li:hover:after{
    width: 100%;
  }
  nav.navbar.bootsnav ul.nav > li.dropdown > a.dropdown-toggle:after{
    content: "+";
    font-family: 'FontAwesome';
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 35%;
    right: 10%;
    transition: all 0.4s ease 0s;
  }
  nav.navbar.bootsnav ul.nav > li.dropdown.on > a.dropdown-toggle:after{
    content: "\f105";
    transform: rotate(90deg);
  }
  .dropdown-menu.multi-dropdown{
    position: absolute;
    left: -100% !important;
  }
  nav.navbar.bootsnav li.dropdown ul.dropdown-menu{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border: none;
  }

  .nav>li>a:focus, .nav>li>a:hover{
    background-color: inherit;
  }

  .navbar-brand, .navbar-nav>li>a {
    color: #ffffff;
    padding: 10px;
  }

  .homeHeaderBodyDiv1{
    margin-top: 60px;
    text-align: center;
    h2{
      font-size: 30px;
      color: #ffffff;
      span{
        color: #008aff;
      }
    }
    p{
      padding-top: 12px;
      font-size: 18px;
      color: #fff;
      small{
        display: block;
        font-size: 12px;
        opacity: .65;
        padding-top: 5px;
        width: 290px;
        margin: 0 auto;
      }
    }

    .countdown{
      padding-top: 15px;
      width: 100%;
      li{
        display: inline-block;
        span{
          font-family: BebasNeue;
          font-size: 30px;
          color: #fff;
          padding: 6px;
          background: #201f1f;
        }
        small{
          padding-left: 10px;
          padding-right: 10px;
          color: #3680f8;
          font-size: 30px;
        }
        p{
          padding-top: 5px;
          font-size: 10px;
          color: #fff;
          opacity: .65;
          text-align: left;
        }
      }
    }
  }

  .homeHeaderBodyDiv2{
    //float: left;
    //margin-top: 220px;
    //margin-left: 200px;

    .home-submit-button{
      width: 210px;
      height: 50px;
      background-color: #008aff;
      color: #FFF;
      font-size: 18px;
      vertical-align: middle;
      padding-top: 12px;
      display: block;
      text-align: center;
      margin: 0 auto;
      margin-bottom: 20px;
      margin-top: 20px;
    }

    .home-submit-button2{
      width: 210px;
      height: 50px;
      border: 1px solid #008aff;
      color: #FFF;
      font-size: 18px;
      vertical-align: middle;
      padding-top: 12px;
      display: block;
      text-align: center;
      margin: 0 auto;
      margin-bottom: 20px;
      margin-top: 20px;
    }

    .home-submit-button .home-submit-button2:focus,
    .home-submit-button .home-submit-button2:hover{
      color: #FFF;
      border-color: transparent;
    }
  }
}

