@media screen and (max-width: 320px) {
  .homeHeaderBodyDiv1{
    margin-top: 25px !important;
  }
  .navGitaTit{
  }
  .homeHeader .homeGit{
    right: 60px!important;
  }
  .bannerBtn{
    height: 36px !important;
    margin: 60px auto 0 6%!important;
    text-align: center !important;

    a {
      width: 130px !important;
      height: 36px !important;
      line-height: 36px !important;
      display: block !important;
      float: left !important;
      border-radius: 150px !important;
      color: #fff !important;
      margin-right: 5px !important;
      background: rgba(5, 17, 43, 0.5) !important;
      transition: background 1s !important;
      margin-bottom: 10px !important;
    }
  }

  .homeHeaderBodyDiv1 #scroll {
    h2{
      font-size: 24px !important;
      small{ font-size: 24px !important;}
    }
  }
}
@media screen and (min-width: 321px) and (max-width: 360px) {
  .homeHeaderBodyDiv1{
    margin-top: 25px !important;
  }
  .bannerBtn{
    height: 36px !important;
    margin: 60px auto 0 6%!important;
    text-align: center !important;

    a {
      width: 145px !important;
      height: 36px !important;
      line-height: 36px !important;
      display: block !important;
      float: left !important;
      border-radius: 150px !important;
      color: #fff !important;
      margin-right: 5px !important;
      background: rgba(5, 17, 43, 0.5) !important;
      transition: background 1s !important;
      margin-bottom: 10px !important;
    }
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .homeDiv {
    height: 660px;
    position: relative;
  }

  .homeHeader{
    img{
      float: left;
      padding-left: 0;
      margin-top: 15px;
    }

    .navbarImg{
      float: right;
      margin-right: 0;
      margin-top: 20px;
    }

    .homeHeaderUl{
      padding-top: 10px;
      position: absolute;
      top: 60px;
      left: 0;
      background: #fff;
      width: 100%;
      z-index: 9;
      opacity: .95;
      ul{
        text-align: center;
        li{
          margin: 13px;
          a{
            color: #000;
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 10px;
          }
        }
        a:hover{
          border-bottom: 1px solid #ffffff;
          text-decoration: none;
        }
      }
    }

    .homeGit{
      float: left;
      color: #fff;
      line-height: 26px;
      position: absolute;
      top: 20px;
      right: 60px;
      p{
        color: #fff;
        float: right;
        padding-left: 20px;
        padding-top: 23px;
      }
      a{
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        padding: 3px;
      }
      img{
        padding-top: 0;
        margin: 0;
      }
    }

    .homeGit a:hover{
      color: #1f6ce9;
    }
  }

  .homeHeaderBodyDiv1{
    margin-top: 27px;
    text-align: center;
    //.indexH2size{
    //  font-size:18px!important;
    //}

    img{
      width: 100%;
      margin-top: 25px;
    }
    #scroll{
      h2{
        font-size: 20px;
        color: #ffffff;
        margin-top: 50px;
        text-align: center;
        width: 100%;
        line-height: 24px;
        small{
          font-size: 20px;
          color: #008aff;
        }
      }
    }
    p{
      padding-top: 70px;
      font-size: 18px;
      color: #ffffff;
      small{
        display: block;
        font-size: 12px;
        opacity: 0.65;
        padding-top: 5px;
        width: 290px;
        margin: 0 auto;
      }
    }

    .countdown{
      padding-top: 15px;
      width: 100%;
      li{
        display: inline-block;
        span{
          font-family: BebasNeue;
          font-size: 30px;
          color: #fff;
          padding: 6px;
        }
        small{
          padding-left: 10px;
          padding-right: 10px;
          color: #3680f8;
          font-size: 30px;
        }
        p{
          padding-top: 5px;
          font-size: 10px;
          color: #fff;
          opacity: .65;
          text-align: left;
          font-family: BebasNeue;
        }
      }
    }

    .bannerShare{
      display: block;
      margin-top: 60px;
      text-align: center;
      img{
        display: inline-block;
        margin: 15px;
        width: 9%;
      }
      p{
        font-size: 14px;
        padding-top: 0;
      }
    }
  }

  .homeHeaderBodyDiv2{

    .home-submit-button{
      width: 210px;
      height: 50px;
      background-color: #008aff;
      color: #FFF;
      font-size: 18px;
      vertical-align: middle;
      padding-top: 12px;
      display: block;
      text-align: center;
      margin: 0 auto;
      margin-bottom: 20px;
      margin-top: 20px;
    }

    .home-submit-button2{
      width: 210px;
      height: 50px;
      border: 1px solid #008aff;
      color: #FFF;
      font-size: 18px;
      vertical-align: middle;
      padding-top: 12px;
      display: block;
      text-align: center;
      margin: 0 auto;
      margin-bottom: 20px;
      margin-top: 20px;
    }

    .home-submit-button .home-submit-button2:focus,
    .home-submit-button2:hover{
      color: #FFF;
      border-color: transparent;
    }

    .home-submit-button:hover{
      background: #1f6ce9;
    }
  }

  //banner 8.16
  .bannerBtn{
    height: 36px;
    margin:30px auto 0 12%;
    text-align: center;
  }
  .bannerBtn a{
    width:130px;
    height:36px;
    line-height: 36px;
    display: block;
    float:left;
    border-radius: 150px;
    color:#fff;
    margin-right:20px;
    background: rgba(5,17,43,0.5);
    transition:background 1s;
    margin-bottom: 10px;
  }
  .bannerBtn a:hover{
    text-decoration: none;
    background-color: #008aff!important;

  }

  .bannerp{
    text-align: center;}
  .ingBox{
    width: 100%;
    background-color: rgba(3, 11, 27, 0.502);
    position: absolute;
    display: inline-block;
    bottom: 0;
    h2{
      color: #fff;
      font-size: 22px;
      text-align: center;
      margin: 30px 0;
    }
    .ingDetal{
      color: #fff;
      text-align: center;
      padding-bottom: 10px;
      font-family: BebasNeue;
      font-size:16px;
      margin-top: 12px;
    }
    .ingDetalSpan{
      margin-left:20px;
    }
    em{
      font-style: normal;
    }
    .col-md-offset-2{
      margin-top:10px;
      padding: 0 30px;
    }
    .countdown{
      padding-top: 15px;
      width: 85%;
      margin: 0 auto;
      text-align: center;
      li{
        display: inline-block;
        span{
          font-family: BebasNeue;
          font-size: 30px;
          color: #fff;
          padding: 6px;
        }
        small{
          padding-left: 10px;
          padding-right: 10px;
          color: #3680f8;
          font-size: 30px;
        }
        p{
          padding-top: 5px;
          font-size: 10px;
          color: #fff;
          opacity: .65;
          text-align: left;
          font-family: BebasNeue;
        }
      }
    }
  }
}

