
@media screen and (min-width: 1025px) {
  .homeDiv {
    height: 800px;
    position: relative;
    //background: url("../image/homeHeader.jpg") no-repeat center center;

    .homeHeader{
      img{
        float: left;
        padding-right: 10px;
        margin-top: 15px;
      }

      .navbarImg{
        display: none;
      }

      .homeHeaderUl{
        padding-top: 20px;
        float: left;
        padding-left: 60px;

        ul{
          li{
            float: left;
            padding-left: 10px;
            margin-left: 20px;
            a{
              color: #fff;
              padding-left: 10px;
              padding-right: 10px;
              padding-bottom: 10px;
            }
          }
          a:hover{
            border-bottom: 2px solid #ffffff;
            text-decoration: none;
          }
        }

        .homeDropdown{
          position: relative;
          display: inline-block;

          .homeDropdown-content {
            display: none;
            position: absolute;
            min-width: 140px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            padding: 12px 16px;
            text-align: center;
            //letter-spacing: 3px;
            left: -44px;
            a{
              display: block;

            }
          }
        }

        .homeDropdown:hover .homeDropdown-content {
          display: block;
        }
      }

      .homeGit{
        float: right;
        color: #fff;
        padding-top: 20px;
        line-height: 26px;
        p{
          color: #fff;
          float: right;
          padding-left: 20px;
          padding-top: 23px;
        }
        a{
          color: #fff;
          text-decoration: none;
          cursor: pointer;
          padding: 5px;
        }
        img{
          padding-top: 0;
          float: left;
          margin: 0;
        }
      }

      .homeGit a:hover{
        color: #1f6ce9;
      }

      .navJoin{
        color: #fff;
        padding-top: 20px;
        padding-bottom: 10px;
        display: inline-block;
        text-decoration: none;
        margin-left: 25px;
      }
      .navJoin:hover{
        border-bottom: 2px solid #fff;
      }
    }

    .homeHeaderBodyDiv1{
      float: left;
      margin-top: 130px;
      //8.16
      width:1040px;
      height:451px;
      //background: rgba(4, 13, 36, 0.4);
      margin-left: 5.5%;

      img{
        margin: 0 auto;
        display: block;
        margin-top: 35px;
      }

      #scroll{
        h2{
          font-size: 40px;
          color: #ffffff;
          height: 90px;
          margin-top: 25px;
          text-align: center;
          width: 100%;
          small{
            color: #008aff;
            font-size: 40px;
            line-height: 60px;
          }
        }
      }

      p{
        padding-top: 60px;
        font-size: 24px;
        color: #ffffff;
        small{
          display: block;
          font-size: 14px;
          opacity: 0.65;
          padding-top: 10px;
          width: 100%;
          margin: 0 auto;
        }
      }

      .countdown{
        padding-top: 30px;
        width: 540px;
        margin: 0 auto;
        li{
          display: inline-block;
          span{
            font-family: BebasNeue;
            font-size: 48px;
            color: #fff;
            width: 60px;
            height: 60px;
            display: inline-block;
            text-align: center;
            line-height: 55px;
          }
          small{
            padding-left: 30px;
            padding-right: 30px;
            color: #3680f8;
            font-size: 48px;
          }
          p{
            padding-top: 0;
            font-size: 16px;
            color: #ffffff;
            opacity: 0.65;
            font-family: BebasNeue;
          }
        }
      }

      .bannerShare{
        display: block;
        margin-top: 120px;
        text-align: center;
        img{
          display: inline-block;
          margin: 20px;
          opacity: 0.6;
        }
        p{
          font-size: 14px;
          padding-top: 0;
        }
        img:hover{
          opacity: 1;
        }
      }
    }

    .homeHeaderBodyDiv2{
      float: left;
      margin-top: 220px;
      margin-left: 135px;

      .home-submit-button{
        width: 210px;
        height: 50px;
        margin-top: 20px;
        background-color: #008aff;
        color: #FFF;
        font-size: 18px;
        vertical-align: middle;
        padding-top: 12px;
        display: block;
      }

      .home-submit-button2{
        width: 210px;
        height: 50px;
        margin-top: 20px;
        border: 1px solid #008aff;
        color: #FFF;
        font-size: 18px;
        vertical-align: middle;
        padding-top: 12px;
        display: block;
        opacity: 0.6;
      }

      .home-submit-button .home-submit-button2:focus,
      .home-submit-button2:hover{
        color: #FFF;
        border-color: transparent;
      }

      .home-submit-button:hover{
        background: #1f6ce9;
      }
    }
  }
  //banner 8.16
  .bannerBtn{
    //height: 36px;
    //margin:60px auto 0 19%;
    //text-align: center;
    margin: 16px auto 0 23%;
    text-align: center;
    position: relative;
    top: 58px;
  }
  .bannerBtn a{
    width: 170px;
    height: 47px;
    line-height: 50px;
    display: block;
    float: left;
    border-radius: 150px;
    color: #fff;
    margin-right: 20px;
    background: rgba(5, 17, 43, 0.5);
    transition: background 1s;
    font-size: 18px;
  }
  .bannerBtn a:hover{
    text-decoration: none;
    background-color: #008aff!important;

  }

  .bannerp{
    text-align: center;}
.ingBox{
  width: 100%;
  background-color: rgba(3, 11, 27, 1.502);
  position: relative;
  top: -111px;
  h2{
    color: #fff;
    font-size: 22px;
    text-align: center;
    margin: 40px 0 15px;
    padding-top: 15px;
  }

  .arrow{
    color: #fff;
    position: absolute;
    top: 14px;
    left: 30%;
    display: inline-block;
    text-align: center;
  }

  .arrow2{
    color: #fff;
    position: absolute;
    top: 14px;
    left: 70.5%;
    display: inline-block;
    text-align: center;
  }

  .ingDetal{
    color: #fff;
    text-align: center;
    margin-top: 60px;
    font-family: BebasNeue;
    font-size: 18px;
    padding-bottom: 20px;
  }
  .ingDetalSpan{
    margin-left:20px;
  }
  em{
    font-style: normal;
  }
  .row{
    width:54%;
  }
  ul{
    li{
      float: left;
      padding-left: 10px;
      //margin-left: 20px;
      a{
        color: #fff;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
      }
    }
    a:hover{
      border-bottom: 1px solid #ffffff;
      text-decoration: none;
    }
  }
}

  .countdown{
    width: 60px;
    //padding-top: 30px;
    width: 570px;
    margin: 0 auto;
    li{
      display: inline-block;
      span{
        font-family: BebasNeue;
        font-size: 48px;
        color: #fff;
        width: 60px;
        height: 60px;
        display: inline-block;
        text-align: center;
        line-height: 55px;
      }
      small{
        padding-left: 30px;
        padding-right: 30px;
        color: #3680f8;
        font-size: 48px;
      }
      p{
        padding-top: 0;
        font-size: 16px;
        color: #ffffff;
        opacity: 0.65;
        font-family: BebasNeue;
      }
    }
  }
}

