@media screen and (min-width: 320px) and (max-width: 767px) {
  //+++++++++++ div7 style+++++++++++++++++++++++++++++++++++++++++++++++++
  .div6Header{
    //background: url("../../../image/homeFooter.jpg") no-repeat center center;
    .div6Title{
      margin: 0 auto;
      padding: 0;
      padding-bottom: 15px;

      h2{
        margin: 0;
        padding: 80px 0 0 0;
        font-family: "Microsoft YaHei";
        font-size: 24px;
        text-align: center;
        color: #ffffff;
      }
    }

    .div6Body, .div6BodyEn{
      margin-top: 20px;
      padding: 0;
      text-align: center;
      .div6BodyCard{
        //display: inline-block;
        margin-bottom: 30px;
        img{
          display: block;
          margin: 0 auto;
        }
        p{
          padding-top: 15px;
          padding-bottom: 15px;
          font-size: 18px;
          color: #fff;
          font-weight: 600;
          text-align: center;
          display: block;
          margin: 0 auto;
        }
        small{
          font-size: 12px;
          color: #fff;
          text-align: left;
          display: inline-block;
          padding: 6px 20px;
        }
        b{
          color: #3680f8;
        }
	p{  span {padding-left: 0}}
      }
    }
    .iconStyle{
      margin-top: 30px;
      text-align: center;
      ul{
        width: 100%; display: inline-block;
        li{
          width: 44%; text-align: center; margin: 0 0 20px 4%; float: left;
          img{
            width:100%;
          }
        }
      }
    }
  }
}
