.addHeader{
  margin-top: 60px;
  margin-bottom: 60px;
  position: relative;

  h2{
    text-align: center;
    margin-bottom: 60px;
  }

  a{
    width: 160px;
    height: 40px;
    color: #fff;
    font-size: 18px;
    vertical-align: middle;
    padding-top: 12px;
    background: #1f6ce9;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 80px;
    cursor: pointer;
  }

  #ReactQuill{
    height: 800px;
  }
}