@import './style/pro';
@import './style/pc';
@import './style/mobile';

.bandiv{
    background: url("../Career/image/banBg.jpg") no-repeat center center;
  background-size: cover;
  }
.brDiv1{
  background: url("../Career/image/1.png") no-repeat center center;
}
.brDiv2{
  background: url("../Career/image/2.png") no-repeat center center;
}
.brDiv3{
  background: url("../Career/image/3.png") no-repeat center center;
}
.brDiv4{
  background: url("../Career/image/4.png") no-repeat center center;
}
.footer{
  background: url("../Career/image/foot.jpg") no-repeat center center;
}