@media screen and (min-width: 320px) and (max-width: 767px) {
  // +++++++++++++++++++++div1 style++++++++++++++++++++++++++++++++++++
  .div1Header {
    margin: 0 auto;
    padding-bottom: 30px;

    h2{
      margin: 0;
      padding: 40px 0 0;
      font-family: Microsoft YaHei;
      font-size: 24px;
      text-align: center;
      color: #2c313a;
    }

    .div1HeaderImg{
     display: none;
    }

    .div1HeaderImg2{
      display: block;
      margin: 0 auto;
      padding-top: 40px;
      width: 70%;
    }

    p{
      font-family: "Microsoft YaHei";
      color: #688499;
      font-size: 12px;
      text-align: center;
      padding-top: 5px;
    }


  }

  // ++++++++++++++++++div2 style+++++++++++++++++++++++++++++++++++++++++++++
  .div2Header {
    margin: 0 auto;
    padding-bottom: 30px;
    h2{
      margin: 0;
      padding: 30px 0 0 0;
      font-family: "Microsoft YaHei";
      font-size: 24px;
      text-align: center;
      color: #2c313a;
    }

    img{
      margin: 0;
      padding-top: 11px;
      padding-bottom: 0;

    }p{
       font-family: "Microsoft YaHei";
       color: #688499;
       font-size: 12px;
       text-align: center;
       padding-top: 5px;
     }
    
    .div2HeaderImg{
      display: none;
    }
  }

  .astroModule2Img{
    display: block;
    margin: 0 auto;
    padding-top: 40px;
    width: 70%;
    padding-bottom: 30px;
  }

  .astroModule2 img{
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0 auto;
  }

  .astroModule2word {
    margin: 0 auto;
    display: block;

    p {
      font-size: 14px;
      color: #688499;
      text-align: left;
      padding-top: 10px;
    }
  }


  .astroModule2wordDiv {
    position: relative;
    height: 88px;
    border-radius: 4px;
    border: 1px solid #eff4fb;
    margin-bottom: 20px;

    img{
      display: inline-block;
      padding: 0;
      padding-top: 20px;
      padding-left: 10px;
    }

    p {
      display: inline-block;
      text-align: left;
      position: absolute;
      top: 15px;
      left: 50px;
      font-size: 14px;
      padding: 0;
    }

    span {
      color: #296de9;
      font-size: 14px;
      font-weight: 600;
    }
  }

  .div2-submit-area{
    padding-top: 20px;
    text-align: center;
  }

  .div2-submit-button{
    width: 116px;
    height: 40px;
    margin-top: 10px;
    background-color: #3680f8;
    color: #fff;
    font-size: 15px;
    vertical-align: middle;
    padding-top: 0;
  }

  .div2-submit-button img {
    padding: 0;
    padding-left: 7px;
    margin-bottom: 9px;
  }

  .div2-submit-button:focus,
  .div2-submit-button:hover{
    color: #FFF;
    border-color: transparent;
  }

  //+++++++++++ div3 style+++++++++++++++++++++++++++++++++++++++++++++++++

  .div3Header{

  }

  .officalModule3Img{
    display: block;
    margin: 0 auto;
    width: 70%;
    padding-bottom: 0;
    padding-top: 180px;
  }

  .officalModule3{
    background: #f7fafe;
    margin-top: 60px;
    position: relative;
    padding-bottom: 30px;

    img {
      padding-top: 100px;
      padding-bottom: 100px;
    }
    .officalModule3Img{
      display: block;
      margin: 0 auto;
      width: 70%;
      padding-bottom: 0;
      padding-top: 160px;
    }
  }

  .officalModule3Div{
    position: absolute;
    top: 20px;

    img {
      padding: 0;
      padding-left: 0;
      width: 10%;
    }

    h2{
      font-size: 15px;
      color: #2b363d;
      font-weight: 600;
      position: absolute;
      top: 5px;
      left: 17%;
    }

    span {
      display: none;
    }

    p {
      font-size: 10px;
      color: #688499;
      text-align: left;
      padding-top: 5px;
    }
  }

  //==========1
  .officalModule4{
    position: relative;
    padding-bottom: 30px;
  }

  .officalModule4Div{
    position: absolute;
    top: 20px;

    img {
      padding: 0;
      width: 10%;
    }

    h2{
      font-size: 15px;
      color: #2b363d;
      font-weight: 600;
      position: absolute;
      top: 1px;
      left: 17%;
    }

    span {
      display: none;
    }

    p {
      font-size: 10px;
      color: #688499;
      text-align: left;
      padding-top: 5px;
    }
  }

  //+++++++++++ div4 style+++++++++++++++++++++++++++++++++++++++++++++++++
  .div4Header {
    margin: 0 auto;
    width: 100%;
    background: #f7fafe;
  }

  .div4HeaderDiv {
    margin: 0 auto;

    h2{
      margin: 0;
      padding: 40px 0 0;
      font-family: Microsoft YaHei;
      font-size: 24px;
      text-align: center;
      color: #2c313a;
    }

    img{
      width: 98%;
      margin: 0;
      padding-top: 11px;
      padding-bottom: 0;
    }

    p{
      font-family: "Microsoft YaHei";
      color: #688499;
      font-size: 12px;
      text-align: center;
      padding-top: 5px;
    }

    .AstroModule7{
      border-radius: 4px;
      background: #fff;
      box-shadow: 6px 6px 16px 10px #ececec;
      margin-top: 30px;
      margin-bottom: 60px;
      padding-bottom: 80px;
      position: relative;

      h2 {
        padding-left: 0;
        padding-bottom: 10px;
        font-size: 20px;
        color: #468af9;
        padding-top: 20px;
      }

      p {
        margin: 10px;
        font-size: 14px;
        text-align: left;
        color: #2b363d;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 5;
        overflow: hidden;
      }

      h4 {
        font-size: 24px;
        color: #468af9;
        font-family: BebasNeue;
        position: absolute;
        bottom: 0;
        padding-bottom: 30px;
        padding-left: 20px;
      }
    }
  }

  //+++++++++++ div5 style+++++++++++++++++++++++++++++++++++++++++++++++++

  .div5Header {
    margin: 0 auto;
    width: 100%;
    background: #f7fafe;
  }

  .div5HeaderDiv {
    margin: 0 auto;
    h2{
      margin: 0;
      padding: 30px 0 0;
      font-family: Microsoft YaHei;
      font-size: 24px;
      text-align: center;
      color: #2c313a;
    }

    img{
     display: none;
    }
  }

  .module8Div{
    display: none;
  }


  .module8Div1{
    padding-left: 30px;
    .module8Div1Up{
      padding-left: 0;
      padding-bottom: 10px;
      img{
        display: none;
      }

      h4{
        text-align: left;
        line-height: 20px;
        font-size: 13px;
        margin-top: 0;
      }

      p{
        font-family: BebasNeue;
        font-size: 20px;
        color: #498cf9;
        padding-top: 10px;
        margin: 0 auto;
        text-align: left;
      }

      span{
        font-size: 10px;
        color: #2b363d;
      }

    }
  }


  .module8Div2{
    margin-top: 10px;
    padding-left: 30px;
    padding-bottom: 60px;
    .module8DivUp2{
      padding-left: 0;
      padding-bottom: 10px;
      img{
        display: none;
      }

      h4{
        text-align: left;
        line-height: 20px;
        font-size: 13px;
        margin-top: 0;
      }

      p{
        font-family: BebasNeue;
        font-size: 20px;
        color: #498cf9;
        padding-top: 10px;
        margin: 0 auto;
        text-align: left;
      }

      span{
        font-size: 10px;
        color: #2b363d;
      }

    }
  }
}

