@media screen and (min-width: 768px) and (max-width: 1119px) {

  .div1HeaderImg{
    display: none;
  }

  // +++++++++++++++++++++div1 style++++++++++++++++++++++++++++++++++++
  .div1Header {
    margin: 0 auto;
    padding-bottom: 30px;

    h2{
      margin: 0;
      padding: 40px 0 0;
      font-family: Microsoft YaHei;
      font-size: 24px;
      text-align: center;
      color: #2c313a;
    }



    .div1HeaderImg2{
      display: block;
      margin: 0 auto;
      padding-top: 40px;
      width: 70%;
    }

    p{
      font-family: "Microsoft YaHei";
      color: #688499;
      font-size: 12px;
      text-align: center;
      padding-top: 5px;
    }
  }

  // ++++++++++++++++++div1o style+++++++++++++++++++++++++++++++++++++++++++++
  .div1o{
    background: #f7fafe;

    .div1oHeader {
      margin: 0 auto;
      padding: 0;
      padding-bottom: 30px;
      width: 100%;

      h2{
        margin: 0;
        padding: 80px 0 0 0;
        font-family: "Microsoft YaHei";
        font-size: 24px;
        text-align: center;
        color: #2c313a;
      }

      .div1oBody{
        margin-top: 60px;
        .div1oBodyCard{
          border-radius: 4px;
          background: #fff;
          box-shadow: 0 3px 6px 0 rgba(5,13,208,.05);
          width: 284px;
          height: 381px;
          display: inline-block;
          margin: 0 10px;
          position: relative;
          margin-bottom: 20px;

          .div1oBodyCardModule{
            position: absolute;
            top: 50px;

            img{padding-left: 30px}
            p{
              display: inline-block;
              font-size: 20px;
              font-weight: 600;
              color: #2b363d;
              padding-left: 6px;
              padding-right: 50px;
              position: relative;
              top: 10px;
              span{
                color: #3680f8;
              }
            }
          }

          .div1oBodyCardLine{
            left: 35px;
            top: 185px;
            position: absolute;
          }

          ul {
            margin-top: 35px;
            margin-bottom: 20px;
            left: 35px;
            top: 185px;
            position: absolute;
            line-height: 15px;
            img{
              padding-right: 10px;
              width: 17px;
              margin-top: -11px;
            }
            li{
              color: #688499;
              font-size: 14px;
              position: relative;
              top: -20px;
              left: 20px;
              margin-bottom: -10px;
              line-height: 20px;
            }
          }
        }
      }

    }

    .div1oHeaderEn {
      margin: 0 auto;
      padding: 0;
      padding-bottom: 30px;
      width: 100%;

      h2{
        margin: 0;
        padding: 80px 0 0 0;
        font-family: "Microsoft YaHei";
        font-size: 24px;
        text-align: center;
        color: #2c313a;
      }

      .div1oBody{
        margin-top: 60px;
        .div1oBodyCard{
          border-radius: 4px;
          background: #fff;
          box-shadow: 0 3px 6px 0 rgba(5,13,208,.05);
          width: 284px;
          height: 440px;
          display: inline-block;
          margin: 0 10px;
          position: relative;
          margin-bottom: 30px;

          .div1oBodyCardModule{
            position: absolute;
            top: 50px;

            img{    margin-left: 20px;}
            p{
              display: inline-block;
              font-size: 14px;
              font-weight: 600;
              color: #2b363d;
              padding-left: 18px;
              padding-right: 0;
              position: relative;
              top: 0;
              span{
                color: #3680f8;
              }
            }
          }

          .div1oBodyCardLine{
            left: 35px;
            top: 185px;
            position: absolute;
          }

          ul {
            margin-top: 35px;
            margin-bottom: 20px;
            left: 35px;
            top: 185px;
            position: absolute;
            line-height: 15px;
            img{
              padding-right: 10px;
              width: 17px;
              margin-top: -11px;
            }
            li{
              color: #688499;
              font-size: 14px;
              position: relative;
              top: -20px;
              left: 14px;
              margin-bottom: -10px;
              line-height: 20px;
            }
          }
        }

        #card1{margin-left: 0}
        #card4{margin-right: 0}
        #div1oP3, #div1oP3 { top: 16px; }
      }

    }
  }

  // ++++++++++++++++++div2 style+++++++++++++++++++++++++++++++++++++++++++++
  .div2Header {
    margin: 0 auto;
    padding-bottom: 30px;
    h2{
      margin: 0;
      padding: 30px 0 0 0;
      font-family: "Microsoft YaHei";
      font-size: 24px;
      text-align: center;
      color: #2c313a;
    }

    img{
      margin: 0;
      padding-top: 11px;
      padding-bottom: 0;

    }p{
       font-family: "Microsoft YaHei";
       color: #688499;
       font-size: 12px;
       text-align: center;
       padding-top: 5px;
     }
  }

  .astroModule2Img{
    display: block;
    margin: 0 auto;
    padding-top: 40px;
    width: 70%;
    padding-bottom: 30px;
  }

  .astroModule2 img{
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0 auto;
  }

  .astroModule2word {
    margin: 0 auto;
    display: block;

    p {
      font-size: 14px;
      color: #688499;
      text-align: left;
      padding-top: 10px;
    }
  }


  .astroModule2wordDiv {
    position: relative;
    height: 88px;
    border-radius: 4px;
    border: 1px solid #eff4fb;
    margin-bottom: 20px;

    img{
      display: inline-block;
      padding: 0;
      padding-top: 20px;
      padding-left: 10px;
    }

    p {
      display: inline-block;
      text-align: left;
      position: absolute;
      top: 15px;
      left: 50px;
      font-size: 14px;
      padding: 0;
    }

    span {
      color: #296de9;
      font-size: 14px;
      font-weight: 600;
    }
  }

  .div2-submit-area{
    padding-top: 20px;
    text-align: center;
  }

  .div2-submit-button{
    width: 116px;
    height: 40px;
    margin-top: 10px;
    background-color: #3680f8;
    color: #fff;
    font-size: 15px;
    vertical-align: middle;
    padding-top: 0;
  }

  .div2-submit-button img {
    padding: 0;
    padding-left: 7px;
    margin-bottom: 9px;
  }

  .div2-submit-button:focus,
  .div2-submit-button:hover{
    color: #FFF;
    border-color: transparent;
  }

  //+++++++++++ div3 style+++++++++++++++++++++++++++++++++++++++++++++++++

  #div3img1, #div3img2, #div3img3, #div3img4 {
    display: block;
    margin: 0 auto;
    padding-bottom: 0;
    margin-top: 30px;
    width: 70%;
  }

  #div3img4 {
    padding-bottom: 30px;
  }

  .officalModule3{
    background: #f7fafe;
    margin-top: 60px;
    //position: relative;
    padding-bottom: 30px;

    img {
      padding-top: 0;
      //padding-bottom: 100px;
    }
  }

  .officalModule3Div{
    margin-top: 20px;

    img {
      padding: 0;
      padding-left: 0;
      width: 10%;
    }

    h2{
      font-size: 15px;
      color: #2b363d;
      font-weight: 600;
      display: inline-block;
      margin-left: 20px;
    }

    span {
      display: none;
    }

    p {
      font-size: 10px;
      color: #688499;
      text-align: left;
      padding-top: 10px;
    }
  }

  //==========1
  .officalModule4{
    //position: relative;
    //padding-bottom: 30px;
  }

  .officalModule4Div{
    margin-top: 20px;

    img {
      padding: 0;
      width: 10%;
    }

    h2{
      font-size: 15px;
      color: #2b363d;
      font-weight: 600;
      display: inline-block;
      margin-left: 20px;
    }

    span {
      display: none;
    }

    p {
      font-size: 10px;
      color: #688499;
      text-align: left;
      padding-top: 10px;
    }
  }

  //+++++++++++ div4 style+++++++++++++++++++++++++++++++++++++++++++++++++
  .div4Header {
    margin: 0 auto;
    width: 100%;
    background: #f7fafe;
  }

  .div4HeaderDiv {
    margin: 0 auto;

    h2{
      margin: 0;
      padding: 40px 0 0;
      font-family: Microsoft YaHei;
      font-size: 24px;
      text-align: center;
      color: #2c313a;
    }

    img{
      width: 98%;
      margin: 0;
      padding-top: 11px;
      padding-bottom: 0;
    }

    p{
      font-family: "Microsoft YaHei";
      color: #688499;
      font-size: 12px;
      text-align: center;
      padding-top: 5px;
    }

    .AstroModule7{
      border-radius: 4px;
      background: #fff;
      //box-shadow: 6px 6px 16px 10px #ececec;
      margin-top: 30px;
      margin-bottom: 60px;
      padding-bottom: 80px;
      position: relative;

      h2 {
        padding-left: 0;
        padding-bottom: 10px;
        font-size: 20px;
        color: #468af9;
        padding-top: 20px;
      }

      p {
        margin: 10px;
        font-size: 14px;
        text-align: left;
        color: #2b363d;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 5;
        overflow: hidden;
      }

      h4 {
        font-size: 24px;
        color: #468af9;
        font-family: BebasNeue;
        position: absolute;
        bottom: 0;
        padding-bottom: 30px;
        padding-left: 20px;
      }
    }

    .AstroModule7:hover{
      box-shadow: 0px 6px 10px 0px rgba(54, 128, 248, 0.12);
    }
  }

  //+++++++++++ div5 style+++++++++++++++++++++++++++++++++++++++++++++++++

  .div5Header {
    margin: 0 auto;
    width: 100%;
    //background: #f7fafe;
    padding-bottom: 50px;
  }

  .div5HeaderDiv {
    margin: 0 auto;
    h2{
      margin: 0;
      padding: 30px 0 0;
      font-family: Microsoft YaHei;
      font-size: 24px;
      text-align: center;
      color: #2c313a;
    }

    img{
      display: none;
    }
  }

  .module8Div{
    display: none;
  }


  .module8Div1{
    padding-left: 30px;
    .module8Div1Up{
      padding-left: 0;
      padding-bottom: 10px;
      img{
        display: none;
      }

      h4{
        text-align: left;
        line-height: 20px;
        font-size: 13px;
        margin-top: 0;
      }

      p{
        font-family: BebasNeue;
        font-size: 20px;
        color: #498cf9;
        padding-top: 10px;
        margin: 0 auto;
        text-align: left;
      }

      span{
        font-size: 10px;
        color: #2b363d;
      }

    }
  }
  .module8Div2{
    display: none;
  }

  //+++++++++++ div6 style+++++++++++++++++++++++++++++++++++++++++++++++++
  .div6Header{
    //height: 520px;
    .div6Title{
      margin: 0 auto;
      padding: 0;
      padding-bottom: 30px;

      h2{
        margin: 0;
        padding: 80px 0 0 0;
        font-family: "Microsoft YaHei";
        font-size: 24px;
        text-align: center;
        color: #ffffff;
      }
    }

    .div6Body, .div6BodyEn{
      margin-top: 50px;
      padding: 0;
      text-align: center;
      .div6BodyCard{
        display: inline-block;
        img{
          display: block;
          margin: 0 auto;
        }
        p{
          padding-top: 30px;
          padding-bottom: 20px;
          font-size: 18px;
          color: #ffffff;
          font-weight: 600;
          text-align: center;
        }
        span{
          font-size: 14px;
          color: #ffffff;
          text-align: left;
          height: 100px;
          display: block;
        }
        b{
          color: #3680f8;
        }
      }

      #div6Card2{
        padding-left: 30px;
        padding-right: 30px;
      }
    }
  }

}

