@media screen and (min-width: 1025px) {

  // +++++++++++++++++++++div1 style++++++++++++++++++++++++++++++++++++
  .div1Header {
    margin: 0 auto;
    padding-bottom: 30px;

    h2{
      margin: 0;
      padding: 80px 0 0 0;
      font-family: "Microsoft YaHei";
      font-size: 24px;
      text-align: center;
      color: #2c313a;
    }

    .div1HeaderImg{
      //width: 98%;
      //margin: 0;
      //padding-top: 11px;
      //padding-bottom: 0;

      width: 20px;
      display: inline-block;
      height: 1px;
      border: 0;
      background-color: #d5d5d5;
      color: #d5d5d5;
      position: relative;
      top: 3px;
      margin: 10px;
    }

    .div1HeaderImg2{
      display: block;
      margin: 0 auto;
      padding-top: 60px;
    }

    p{
      font-family: "Microsoft YaHei";
      color: #688499;
      font-size: 12px;
      text-align: center;
      padding-top: 5px;
    }


  }

  // ++++++++++++++++++div2 style+++++++++++++++++++++++++++++++++++++++++++++
  .div2Header {
    margin: 0 auto;
    padding-bottom: 30px;
    h2{
      margin: 0;
      padding: 80px 0 0 0;
      font-family: "Microsoft YaHei";
      font-size: 24px;
      text-align: center;
      color: #2c313a;
    }

    .div2HeaderImg{
      //width: 98%;
      //margin: 0;
      //padding-top: 11px;
      //padding-bottom: 0;

      width: 20px;
      display: inline-block;
      height: 1px;
      border: 0;
      background-color: #d5d5d5;
      color: #d5d5d5;
      position: relative;
      top: 3px;
      margin: 10px;
    }

    img{
      margin: 0;
      padding-top: 11px;
      padding-bottom: 0;

    }p{
       font-family: "Microsoft YaHei";
       color: #688499;
       font-size: 12px;
       text-align: center;
       padding-top: 5px;
     }
  }

  .astroModule2 img{
    padding-top: 60px;
    padding-bottom: 10px;
  }

  .astroModule2word {
    float: right;
    margin-top: 120px;

    p {
      font-size: 14px;
      color: #688499;
      text-align: left;
      padding-top: 40px;
    }
  }


  .astroModule2wordDiv {
    //position: relative;
    //height: 70px;
    //border-radius: 4px;
    //border: 1px solid #eff4fb;
    //margin-bottom: 20px;

    border-radius: 4px;
    border: 1px solid #eff4fb;
    margin-bottom: 20px;
    width: 400px;

    img{
      //display: inline-block;
      //padding: 0;
      //padding-top: 20px;
      //padding-left: 10px;

      padding: 0;
      padding-left: 10px;
      position: relative;
      top: -10px;
    }

    p {
      //display: inline-block;
      //text-align: left;
      //position: absolute;
      //top: 15px;
      //left: 50px;
      //font-size: 14px;
      //padding: 0;

      display: inline-block;
      font-size: 14px;
      padding: 0;
      padding-left: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    span {
      color: #296de9;
      font-size: 14px;
      font-weight: 600;
    }
  }

  .div2-submit-area{
    padding-top: 10px;
  }

  .div2-submit-button{
    width: 150px;
    height: 50px;
    margin-top: 15px;
    background-color: #3680f8;
    color: #FFF;
    font-size: 22px;
    vertical-align: middle;
  }

  .div2-submit-button img {
    padding: 0;
    padding-left: 7px;
    margin-bottom: 9px;
  }

  .div2-submit-button:focus,
  .div2-submit-button:hover{
    color: #FFF;
    border-color: transparent;
  }

  //+++++++++++ div3 style+++++++++++++++++++++++++++++++++++++++++++++++++
  .officalModule3{
    background: #f7fafe;
    //margin-top: 60px;

    img {
      padding-top: 100px;
      margin-bottom: 60px;
      float: left;
    }
  }

  .officalModule3Div{
    position: relative;
    top: 200px;

    img {
      padding: 0;
      padding-left: 60px;
    }

    h2{
      font-size: 18px;
      color: #2b363d;
      font-weight: 600;
      position: absolute;
      top: 10px;
      left: 19%
    }

    span {
      padding-top: 6px;
      font-size: 12px;
      color: #96b1c5;
      position: absolute;
      top: 29px;
      left: 19%;
    }

    p {
      font-size: 14px;
      color: #688499;
      text-align: left;
      margin-top: 60px;
      padding-left: 66px;
    }
  }

  //==========1
  .officalModule4{
    img {
      padding-top: 100px;
      padding-bottom: 60px;
    }
  }

  .officalModule4Div{
    position: relative;
    top: 200px;

    img {
      padding: 0;
      padding-left: 60px;
    }

    h2{
      font-size: 18px;
      color: #2b363d;
      font-weight: 600;
      position: absolute;
      top: 10px;
      left: 21%;
    }

    span {
      padding-top: 6px;
      font-size: 12px;
      color: #96b1c5;
      position: absolute;
      top: 29px;
      left: 21%;
    }

    p {
      font-size: 14px;
      color: #688499;
      text-align: left;
      padding-top: 10px;
      padding-left: 66px;
    }
  }

  //+++++++++++ div4 style+++++++++++++++++++++++++++++++++++++++++++++++++
  .div4Header {
    margin: 0 auto;
    width: 100%;
    background: #f7fafe;
  }

  .div4HeaderDiv {
    margin: 0 auto;

    h2{
      margin: 0;
      padding: 80px 0 0 0;
      font-family: "Microsoft YaHei";
      font-size: 24px;
      text-align: center;
      color: #2c313a;
    }

    img{
      width: 98%;
      margin: 0;
      padding-top: 11px;
      padding-bottom: 0;
    }

    p{
      font-family: "Microsoft YaHei";
      color: #688499;
      font-size: 12px;
      text-align: center;
      padding-top: 5px;
    }

    .AstroModule7{
      border-radius: 4px;
      background: #fff;
      box-shadow: 6px 6px 16px 10px #ececec;
      margin-top: 60px;
      margin-bottom: 60px;
      padding-bottom: 150px;
      position: relative;

      h2 {
        padding-left: 0;
        padding-bottom: 30px;
        font-size: 24px;
        color: #468af9;
      }

      p {
        margin: 10px;
        font-size: 14px;
        text-align: left;
        color: #2b363d;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 5;
        overflow: hidden;
      }

      h4 {
        font-size: 24px;
        color: #468af9;
        font-family: BebasNeue;
        position: absolute;
        bottom: 0;
        padding-bottom: 30px;
        padding-left: 20px;
      }
    }
  }

  //+++++++++++ div5 style+++++++++++++++++++++++++++++++++++++++++++++++++

  .div5Header {
    margin: 0 auto;
    width: 100%;
    background: #f7fafe;
  }

  .div5HeaderDiv {
    margin: 0 auto;
    h2{
      margin: 0;
      padding: 80px 0 0 0;
      font-family: "Microsoft YaHei";
      font-size: 24px;
      text-align: center;
      color: #2c313a;
    }

    .div5HeaderImg{
      //width: 98%;
      //margin: 0;
      //padding-top: 11px;
      //padding-bottom: 0;

      width: 20px;
      display: inline-block;
      height: 1px;
      border: 0;
      background-color: #d5d5d5;
      color: #d5d5d5;
      position: relative;
      top: 3px;
      margin: 10px;
    }

    img{
      margin: 0;
      padding-top: 11px;
      padding-bottom: 0;
    }
  }

  .module8Div{
    border-bottom: 1px solid #f1f5fb;
    padding-top: 30px;

    .module8DivUp{
      padding-left: 0;
      padding-top: 60px;

      img{
        float: left;
        position: relative;
        top: 7px;
      }

      h4{
        text-align: left;
        line-height: 20px;
        font-size: 14px;
        padding-left: 25px;
        margin-top: -5px;
        max-width: 300px;
        height: 60px;
      }

      p{
        font-family: BebasNeue;
        font-size: 36px;
        color: #498cf9;
        float: left;
        padding-top: 10px;
      }

      span{
        font-size: 24px;
        color: #2b363d;
      }
    }
  }

  .module8Div1{
    display: none;
  }

  .module8Div2{
    border-top: 1px solid #f1f5fb;
    padding-bottom: 60px;

    .module8DivUp2{
      padding-left: 50px;

      img{
        float: left;
        position: relative;
        top: -6px;
      }

      h4{
        text-align: left;
        line-height: 20px;
        font-size: 14px;
        padding-left: 25px;
        margin-top: 122px;
        max-width: 300px;
      }

      p{
        font-family: BebasNeue;
        font-size: 36px;
        color: #498cf9;
        float: left;
        padding-top: 50px;
      }

      span{
        font-size: 24px;
        color: #2b363d;
      }

    }
  }

}

