@media screen and (min-width: 1025px) {
  .TableDiv {
    h6 {
      text-align: center;
      font-weight: bold;
      font-size: 16px;
    }

    table {
      width: 100%;
      border-right: none;
      border: 1px solid #dfe2e5;

      th {
        text-align: center;
        border-right: 1px solid #dfe2e5;
        border-bottom: 1px solid #dfe2e5;
      }

      td {
        border-bottom: 1px solid #dfe2e5;
        border-right: 1px solid #dfe2e5;
        line-height: 30px;
        padding-left: 20px;
      }
    }
  }

  .homeDiv {
    height: 100px;
    position: relative;

    .homeHeader {
      width: 1300px;

      img {
        width: 130px;
        float: left;
        padding-right: 10px;
        margin-top: 15px;
      }

      .navbarImg {
        display: none;
      }

      .homeHeaderUl {
        padding-top: 20px;
        float: left;
        padding-left: 60px;

        ul {
          li {
            float: left;
            padding-left: 10px;
            margin-left: 20px;

            a {
              color: #fff;
              padding-left: 10px;
              padding-right: 10px;
              padding-bottom: 10px;
            }
          }

          a:hover {
            border-bottom: 2px solid #ffffff;
            text-decoration: none;
          }
        }

        .homeDropdown {
          position: relative;
          display: inline-block;

          .homeDropdown-content {
            display: none;
            position: absolute;
            min-width: 140px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            padding: 12px 16px;
            text-align: center;
            //letter-spacing: 3px;
            left: -44px;
            z-index: 9;

            a {
              display: block;

            }
          }
        }

        .homeDropdown:hover .homeDropdown-content {
          display: block;
        }
      }

      .homeGit {
        float: right;
        color: #fff;
        padding-top: 20px;
        line-height: 26px;

        p {
          color: #fff;
          float: right;
          padding-left: 20px;
          padding-top: 23px;
        }

        a {
          color: #fff;
          text-decoration: none;
          cursor: pointer;
          padding: 5px;
        }

        img {
          padding-top: 0;
          float: left;
          margin: 0;
        }
      }

      .homeGit a:hover {
        color: #1f6ce9;
      }
    }

    .homeHeaderBodyDiv1 {
      float: left;
      margin-top: 130px;
      //8.16
      width: 1040px;
      height: 451px;
      //background: rgba(4, 13, 36, 0.4);
      margin-left: 5.5%;

      img {
        margin: 0 auto;
        display: block;
        margin-top: 35px;
      }

      #scroll {
        h2 {
          font-size: 40px;
          color: #ffffff;
          height: 90px;
          margin-top: 25px;
          text-align: center;
          width: 100%;

          small {
            color: #008aff;
            font-size: 40px;
            line-height: 60px;
          }
        }
      }

      p {
        padding-top: 60px;
        font-size: 24px;
        color: #ffffff;

        small {
          display: block;
          font-size: 14px;
          opacity: 0.65;
          padding-top: 10px;
          width: 100%;
          margin: 0 auto;
        }
      }

      .countdown {
        padding-top: 30px;
        width: 540px;
        margin: 0 auto;

        li {
          display: inline-block;

          span {
            font-family: BebasNeue;
            font-size: 48px;
            color: #fff;
            width: 60px;
            height: 60px;
            display: inline-block;
            text-align: center;
            line-height: 55px;
          }

          small {
            padding-left: 30px;
            padding-right: 30px;
            color: #3680f8;
            font-size: 48px;
          }

          p {
            padding-top: 0;
            font-size: 16px;
            color: #ffffff;
            opacity: 0.65;
            font-family: BebasNeue;
          }
        }
      }

      .bannerShare {
        display: block;
        margin-top: 120px;
        text-align: center;

        img {
          display: inline-block;
          margin: 20px;
          opacity: 0.6;
        }

        p {
          font-size: 14px;
          padding-top: 0;
        }

        img:hover {
          opacity: 1;
        }
      }
    }

    .homeHeaderBodyDiv2 {
      float: left;
      margin-top: 220px;
      margin-left: 135px;

      .home-submit-button {
        width: 210px;
        height: 50px;
        margin-top: 20px;
        background-color: #008aff;
        color: #FFF;
        font-size: 18px;
        vertical-align: middle;
        padding-top: 12px;
        display: block;
      }

      .home-submit-button2 {
        width: 210px;
        height: 50px;
        margin-top: 20px;
        border: 1px solid #008aff;
        color: #FFF;
        font-size: 18px;
        vertical-align: middle;
        padding-top: 12px;
        display: block;
        opacity: 0.6;
      }

      .home-submit-button .home-submit-button2:focus,
      .home-submit-button2:hover {
        color: #FFF;
        border-color: transparent;
      }

      .home-submit-button:hover {
        background: #1f6ce9;
      }
    }
  }

  .productBox {
    width: 100%;
    height: 100%;
    color: #fff;
    display: inline-block;
    padding-bottom: 90px;
    background: #06102e;

    .proCont {
      width: 1300px;
      margin: 0 auto;
      clear: both;

      .bannerLeft2 {
        float: left;
        margin-top: 200px;

        .banRbg5 {
          width: 633px;
        }
      }

      .bannerLeft {
        width: 500px;
        float: left;
        margin-top: 60px;
        position: relative;
        z-index: 2;

        .bannBg {
          position: absolute;
          top: -50px;
          width: 330px;
          z-index: -1;
        }

        h1 {
          font-weight: bold;
          font-size: 35px;
          padding: 0;
          margin: 0 0 10px 0;
        }

        h3 {
          font-size: 18px;
          padding: 0;
          margin: 10px 0 0;
          text-transform: uppercase;
        }

        ul {
          display: inline-block;
          margin-top: 30px;

          li {
            float: left;
            font-size: 12px;
            opacity: .8;

            em {
              height: 30px;
              display: inline-block;
              float: left;

              .icoCircle {
                width: 12px;
                height: 12px;
                margin-right: 15px;
              }
            }
          }
        }

        .bannTextP {
          margin: 22px 0 0;
        }

        p {
          font-size: 14px;
          padding: 0;
          color: #fff;
          opacity: .7;
          margin: 0;
        }

        .downloadBoxBan:nth-child(2) {
          margin-right: 0;
        }

        .downloadBoxBan {
          float: left;
          margin: 30px 40px 20px 0;

          h3 {
            font-size: 14px !important;
            margin: 0 0 10px 0;
          }

          h2 {
            font-size: 14px;
            font-weight: bold;
            margin: 0 0 10px 0;
          }

          ul {
            margin-top: 10px;

            li:hover {
              background-image: linear-gradient(0deg, #1a90fc 0%, #00d2ff 100%);
            }

            li {
              cursor: pointer;
              width: 45px;
              height: 45px;
              line-height: 43px;
              float: left;
              margin-right: 20px;
              text-align: center;
              border-radius: 100%;
              background: rgba(250, 251, 253, 0.04);

              img {
                width: 21px;
              }
            }

            .gitBtn {
              width: 135px;
              height: 45px;
              line-height: 45px;
              margin-right: 18px;
              text-align: center;
              border-radius: 25px;
              background: rgba(250, 251, 253, 0.04);

              img {
                width: 102px;
              }
            }

            .gitBtn:hover {
              cursor: pointer;
              background-image: linear-gradient(to right, #1a90fc, #00d2ff);
            }
          }
        }

        .downloadManual:hover {
          text-decoration: none;
        }

        .downloadManual {
          color: #0079ff;
          font-size: 14px;
          clear: both;
          display: block;

          .banDownL {
            width: 12px;
            margin-right: 10px;
            vertical-align: middle;
          }
        }

        .shadeBox {
          width: 100%;
          height: 100%;
          background: #000;
          opacity: .5;
          position: fixed;
          top: 0;
          left: 0;
          z-index: 6;
        }

        .aggreePopBox {
          text-align: center;
          background: #fff;
          border-radius: 5px;
          padding: 30px 40px 20px 40px !important;
          width: 1000px;
          margin-top: -401px;
          margin-left: -480px;
          display: inline-block;
          position: fixed;
          top: 50%;
          left: 50%;
          z-index: 999;

          h1 {
            font-size: 22px;
            color: #484848;
            text-align: center;
            padding-bottom: 20px;

            em {
              color: #21d4fd;
              font-style: normal;
            }
          }

          h2 {
            font-size: 18px;
            text-align: center;
            margin-bottom: 18px;
          }

          .popupCont {
            height: 475px;
            overflow-y: auto;
          }

          .closeBtn {
            position: absolute;
            top: 18px;
            right: 20px;
            font-size: 30px;
            cursor: pointer;
            color: #636279;
          }

          span:hover {
            color: #8482a2;
          }

          div {
            line-height: 24px;
            font-size: 14px;
            color: #666;
            text-align: left;
            margin-bottom: 10px;

            b {
              font-weight: bold;
            }

            p {
              margin: 10px 0 0 28px;
            }
          }

          a {
            padding: 8px 50px;
            text-align: center;
            font-size: 18px;
            margin: 15px 0 0 0 0;
            cursor: pointer;
            font-weight: normal;
            background-image: linear-gradient(70deg, #21d4fd 0%, #9549ff 100%), linear-gradient(#ffffff, #ffffff);
            border-radius: 20px;
            color: #fff;
            display: inline-block;
          }

          a:hover {
            background-image: linear-gradient(70deg, #9549ff 0%, #21d4fd 100%), linear-gradient(#ffffff, #ffffff);
          }
        }
      }

      .bannerRight2 {
        float: left;
        margin-left: 90px;
        margin-top: 285px;

        h1 {
          font-weight: bold;
          font-size: 35px;
          padding: 0;
          margin: 0 0 10px 0;
        }

        h4 {
          font-size: 18px;
        }

        .downloadBoxBan2 {
          margin-top: 30px;

          h3 {
            font-size: 14px;
            margin: 0 0 10px 0;
          }
        }

        ul {
          margin: 10px 0 0 0;

          li {
            font-size: 12px;
            color: #fff;
            line-height: 34px;

            img {
              width: 12px;
              height: 12px;
              margin-right: 15px;
            }
          }
        }
      }

      .bannerRight {
        float: right;
        width: 700px;

        .banRbg {
          width: 100%;
          margin-top: 80px;
        }

        .banRico {
          width: 180px;
          margin-left: 100px;
        }
      }
    }
  }

  .whiteBox {
    width: 100%;
    background: #fff;
    padding: 50px 0 40px;
    display: inline-block;

    .whiteCont {
      width: 1300px;
      margin: 0 auto;

      .whiteLeft {
        float: left;

        .proimg1 {
          width: 570px;
        }
      }

      .whiteRight {
        float: right;
        width: 680px;
        margin-top: 80px;

        h1 {
          font-weight: bold;
          font-size: 30px;
          padding: 0;
          margin: 0;
          text-transform: uppercase;
        }

        h3 {
          font-size: 18px;
          padding: 0;
          margin: 10px 0 0;
          text-transform: uppercase;
        }

        ul {
          margin: 35px 0 15px;
          display: inline-block;

          li {
            float: left;
            font-size: 12px;
            
            em {
              height: 30px;
              display: inline-block;
              float: left;

              .icoCircle2 {
                width: 12px;
                height: 12px;
                margin-right: 15px;
              }
            }
          }
        }
      }
    }
  }

  .grayBox {
    width: 100%;
    background: #f7f9fa;
    display: inline-block;
    padding-top: 60px;
    height: 461px;

    .grayCont {
      width: 1300px;
      margin: 0 auto;

      .grayLeft {
        float: left;
        width: 480px;
        margin-top: 70px;

        h1 {
          font-weight: bold;
          font-size: 30px;
          padding: 0;
          margin: 0;
          text-transform: uppercase;
        }

        h3 {
          font-size: 18px;
          padding: 0;
          margin: 10px 0 0;
          text-transform: uppercase;
        }

        ul {
          margin-top: 35px;
          display: inline-block;

          li {
            float: left;
            font-size: 12px;

            em {
              height: 30px;
              display: inline-block;
              float: left;

              .icoCircle2 {
                width: 12px;
                height: 12px;
                margin-right: 15px;
              }
            }
          }
        }
      }

      .grayRight {
        float: right;

        .proimg2 {
          width: 740px;
          margin-top: 9px;
        }
      }
    }
  }

  .CLI {
    padding: 12px 12px;
    display: inline-block;
    margin-right: 15px;
    text-align: center;
    border-radius: 100%;
    color: #333;
    font-weight: bold;
    border: none;
    text-transform: uppercase;
    font-size: 18px;
    background: #f7f9fa;
  }

  .CLI:hover {
    color: #fff;
    background-image: linear-gradient(to right, #1a90fc, #00d2ff);
  }

  .comBtn {
    width: 165px;
    height: 45px;
    line-height: 45px;
    display: inline-block;
    margin: 30px 0 0 30px;
    text-align: center;
    border-radius: 25px;
    color: #fff;
    font-weight: bold;
    border: none;
    text-transform: uppercase;
    font-size: 12px;
    background-image: linear-gradient(to right, #1a90fc, #00d2ff);
    box-shadow: 0px 6px 24px 0px rgba(25, 145, 252, 0.4);
  }

  .comBtn:hover {
    transition: all 1s ease 2s;
    text-decoration: none;
    background-image: linear-gradient(to left, #1a90fc, #00d2ff);
  }

  .whiteBox2 {
    width: 100%;
    background: #fff;
    padding: 50px 0 40px;
    display: inline-block;

    .whiteCont {
      width: 1300px;
      margin: 0 auto;

      .whiteLeft {
        border: solid 2px #dbdbdb;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 2px 4px 10px 0px rgba(16, 25, 47, 0.08), 10px 16px 24px 0px rgba(16, 25, 47, 0.2);
        float: left;

        .proimg3 {
          width: 500px;
          border-radius: 5px;
        }
      }

      .whiteRight {
        float: right;
        width: 650px;
        margin-top: 30px;

        h1 {
          font-weight: bold;
          font-size: 30px;
          padding: 0;
          margin: 0;
          text-transform: uppercase;
        }

        h3 {
          font-size: 18px;
          padding: 0;
          margin: 10px 0 0;
          text-transform: uppercase;
        }

        ul {
          margin-top: 35px;
          display: inline-block;

          li {
            float: left;
            font-size: 12px;
            clear: both;

            a {
              .comBtn {
                margin-top: 0;
              }
            }

            em {
              height: 30px;
              display: inline-block;
              float: left;

              .icoCircle2 {
                width: 12px;
                height: 12px;
                margin-right: 15px;
              }
            }
          }
        }
      }
    }
  }
}

.downloadBox {
  h2 {
    font-size: 16px;
    font-weight: bold;
  }

  ul {
    li:hover {
      background-image: linear-gradient(0deg, #1a90fc 0%, #00d2ff 100%) !important;
    }

    li {
      width: 45px;
      height: 45px;
      line-height: 45px;
      margin-right: 20px;
      text-align: center;
      border-radius: 100%;
      background: rgba(250, 251, 253, 0.04);

      img {
        width: 21px;
      }
    }

    .gitBtn {
      width: 135px;
      height: 45px;
      line-height: 45px;
      margin-right: 18px;
      text-align: center;
      border-radius: 25px;
      background: rgba(250, 251, 253, 0.04);

      img {
        width: 102px;
      }
    }
  }
}

.cmdDload {
  margin: 20px 0 0;
  float: left;

  p {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 15px;
  }

  a {
    margin: 0;

    .comBtn {
      margin: 0;
    }
  }
}

.GwanDload {
  float: left;
  margin: 20px 0 0 80px;

  p {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 15px;
  }

  a {
    margin-right: 20px;
    text-align: center;
    border-radius: 100%;
    background: #f7f9fa;
    display: inline-block;
    padding: 10px 12px;

    em {
      display: inline-block;
    }
  }

  a:hover {
    background-image: linear-gradient(to right, #1a90fc, #00d2ff);
  }
}