@media screen and (min-width: 320px) and (max-width: 767px) {
  //+++++++++++ div4 style+++++++++++++++++++++++++++++++++++++++++++++++++
  .mainbg{
    height: 250px;
    background: url("../../image/bg1.jpg") no-repeat center center;
    background-size: cover;
    background-color: #0f1a37;
    text-align: center;
    display: flex;
    align-items: center;
    margin-top: 50px;

    .main{
      margin: 0 auto;
      .title{
        font-family: MicrosoftYaHei-Bold;
        font-size: 24px;
        font-weight: normal;
        font-stretch: normal;
        line-height: 28px;
        letter-spacing: 1px;
        color: #ffffff;
        margin-bottom: 23px;
      }
      .content{
        margin: 0 auto;
        width: 100%;
        font-family: MicrosoftYaHei;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        line-height: 20px;
        letter-spacing: 1px;
        color: rgba(255,255,255,0.76);
      }
    }

  }
  .div3img1, .div3img2, .div3img3, .div3img4 {
    display: block;
    margin: 0 auto;
    padding-bottom: 0;
    margin-top: 30px;
  }
  .div3img1{
    width: 90%;
  }
  .div3img2, .div3img3 {
    width: 100%;
  }
  .div3img4 {
    padding-bottom: 30px;
    width: 100%;
  }

  .officalModule{
    margin-top: 60px;
  }

  .officalModule3{
    //position: relative;
    padding-bottom: 30px;

    img {
      padding-top: 0;
      //padding-bottom: 100px;
    }
  }

  .officalModule3Div{
    margin-top: 20px;

    img {
      padding: 0;
      padding-left: 0;
      width: 10%;
    }
    .officalModule31{
      font-size: 12px;
    }

    h2{
      font-size: 14px;
      color: #2b363d;
      font-weight: 600;
      display: inline-block;
      margin: 0;
      margin-left: 15px;
    }
    span {
      display: none;
    }

    p {
      font-size: 12px;
      color: #688499;
      text-align: left;
      line-height: 1.6em;
      margin-top: 10px;
    }
  }
}
