
@media screen and (min-width: 1200px) {

  .mainbg{
    height: 250px;
    background: url("../../image/bg1.jpg") no-repeat center center;
    background-color: #0f1a37;
    text-align: center;
    display: flex;
    align-items: center;

    .main{
      margin: 0 auto;
      .title{
        font-family: MicrosoftYaHei-Bold;
        font-size: 24px;
        font-weight: normal;
        font-stretch: normal;
        line-height: 14px;
        letter-spacing: 1px;
        color: #ffffff;
        margin-bottom: 23px;
      }
      .content{
        margin: 0 auto;
        width: 650px;
        font-family: MicrosoftYaHei;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        line-height: 22px;
        letter-spacing: 1px;
        color: rgba(255,255,255,0.76);
      }
    }

  }

}
