@media screen and (min-width: 320px) and (max-width: 767px) {
  .crowdsaleDiv {

    .homeHeaderDiv{
      position: relative;
      .titleH3{
        font-size: 27px;
        color: #353b47;
        margin-top: 30px;
        margin-left: 18px;
      }
      .contentDiv{
        font-size: 14px;
        color: #353b47;
        margin: 40px 20px 30px 20px;
        h6{
          font-size: 14px;
          color: #353b47;
          line-height: 20px;
        }
      }
      .contentDiv2{
        border-top: 1px solid #e4e9ef;
        border-bottom: 1px solid #e4e9ef;
        padding:30px 0;
        margin:20px;
        display: inline-block;
        h6{
          font-size: 14px;
          color: #353b47;
          line-height: 20px;
        }
        .icoColor{
          color: #296de9;
        }
        .titleH4{
          margin-top: 0;
          font-size: 18px;
          color: #353b47;
          font-weight: bold;
        }
      }
      .contentDiv3{
        margin:20px 20px 40px 20px;
        display: inline-block;
        h6{
          font-size: 14px;
          color: #353b47;
          line-height: 20px;
        }
      }
      h2{
        position: absolute;
        display: block;
        width: 100%;
        text-align: center;
        top: 234px;
        color: #000;
        font-size: 19px;
      }
      p{
        position: absolute;
        display: block;
        width: 100%;
        text-align: center;
        top: 286px;
        color: #000;
        font-size: 16px;
      }
    }

    .crowdsaleHeader{
      position: relative;
      img{
        margin: 0;
      }

      .crowdsaleHeaderDivNumPC{
        position: relative;
        top: -80px;
        text-align: center;
        display: block;
        margin: 0 auto;
        width: 100%;
      }

      .crowdsaleHeaderDivImg{
        width: 100%;
        height: 380px;
      }
      .crowdsaleHeaderDiv {
        position: absolute;
        text-align: center;
        top: 0;
        width: 100%;
        padding-top: 30px;
        img{
          margin-right: 10px;
        }
        h2 {
          font-family: MicrosoftYaHei-Bold;
          font-size: 30px;
          color: #ffffff;
          margin: 0;
          padding-left: 5px;
          padding-right: 5px;
        }
        span{
          font-size: 16px;
        }
        p {
          font-size: 14px;
          color: #ffffff;
          line-height: 25px;
          padding: 0 20px;
          margin-top: 10px;
        }
      }
    }
  }

}

