@media screen and (min-width: 1025px) {
  .crowdsaleDiv {

    .homeHeaderDiv{
      height: 800px;
      position: relative;
      width: 1170px;
      margin: 0 auto;
      .titleH3{
        font-size: 48px;
        color: #353b47;
        margin-top: 60px;
      }
      .contentDiv{
        font-size: 14px;
        color: #353b47;
        margin: 40px 0 30px 20px;
        h6{
          font-size: 14px;
          color: #353b47;
        }
      }
      .contentDiv2{
        border-top: 1px solid #e4e9ef;
        border-bottom: 1px solid #e4e9ef;
        padding:30px 0;
        margin-left:20px;
        display: inline-block;
        h6{
          font-size: 14px;
          color: #353b47;
          line-height: 18px;
        }
        .icoColor{
          color: #296de9;
        }
        .titleH4{
          margin-top: 0;
          font-size: 18px;
          color: #353b47;
          font-weight: bold;
        }
      }
      .contentDiv3{
        margin:30px 0 40px 20px;
        display: inline-block;
        h6{
          font-size: 14px;
          color: #353b47;
          line-height: 18px;
        }
      }

      h2{
        position: absolute;
        display: block;
        width: 100%;
        text-align: center;
        top: 357px;
        color: #000;
      }
      p{
        position: absolute;
        display: block;
        width: 100%;
        text-align: center;
        top: 416px;
        color: #000;
        font-size: 22px;
      }
    }

    .crowdsaleHeader{
      position: relative;

      .crowdsaleHeaderDivNumPC{
        position: relative;
        top: -100px;
        text-align: center;
        display: block;
        margin: 0 auto;
      }

      .crowdsaleHeaderDivImg{
        width: 100%;
        height: 380px;
        margin: 0;
      }
      .crowdsaleHeaderDiv {
        position: absolute;
        text-align: center;
        top: 0;
        width: 100%;
        padding-top: 60px;
        img{
          margin-right: 20px;
        }
        h2 {
          font-family: MicrosoftYaHei-Bold;
          font-size: 36px;
          color: #ffffff;
          margin: 0;
        }

        p {
          font-size: 16px;
          color: #ffffff;
          padding-top: 20px;
          line-height: 25px;
        }
      }
    }
  }
  .table-striped tr td{
    border:none;
  }
  .tdBor{
    border: none;
  }
}

